.content {
  text-align: left;
  margin-bottom: 16px;
}

.picture1 {
  width: 100vw;
  max-width: 100vw;
  margin-top: 12px;
}

.picture2 {
  width: 100vw;
  height: 477px;
  max-width: 100vw;
  margin: 0;
  object-fit: cover;
}

.picture3 {
  width: 100vw;
  height: 180px;
  max-width: 100vw;
  margin: 0;
  object-fit: cover;
}

.contact {
  display: block;
}

.contact ul {
  list-style-type: none;
}

.contact__list {
  text-align: right;
}

.information {
  align-items: center;
}

.information ul {
  list-style-type: none;
}

.information__content {
  text-align: justify;
}