.breadcrumbs {
  & .container>* {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    /* height: 4rem; */
    padding: 0 1rem;
    gap: .75rem;
  }
}

.breadcrumbs__item {
  display: inline-flex;
  align-items: center;
  height: 100%;
  list-style: none;
  gap: .75rem;
  min-height: 4rem;

  &::after {
    content: '>';
    display: inline-block;
  }

  &:last-child::after {
    content: '';
  }

  &:last-child {
    font-weight: bold;
  }

  & a {
    margin: auto;
    text-decoration: none;
  }
}

.breadcrumbs__link {
  text-decoration: none !important;
}