span.btn-checkbox {
  display: inline-flex;

  & input {
    display: none;

    &+label {
      display: inline-flex;

      & .--unchecked {
        display: flex;
      }

      & :is(.--checked, .--indeterminate) {
        display: none;
      }
    }

    &:is(:checked, :indeterminate)+label {
      & span {
        display: none;
      }
    }

    &:checked+label .--checked {
      display: flex;
    }

    &:indeterminate+label .--indeterminate {
      display: flex;
    }
  }
}