.icon {
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

span.btn-checkbox {
  display: inline-flex;

  & input {
    display: none;

    & + label {
      display: inline-flex;

      & .--unchecked {
        display: flex;
      }

      & :is(.--checked, .--indeterminate) {
        display: none;
      }
    }

    &:is(:checked, :indeterminate) + label {
      & span {
        display: none;
      }
    }

    &:checked + label .--checked {
      display: flex;
    }

    &:indeterminate + label .--indeterminate {
      display: flex;
    }
  }
}

hr {
  border: 0;
  height: 1px;
  margin-inline: 1rem;
  background: var(--md-sys-color-outline-variant-light);
}

/* modal noti */
.modal-noti {
  position: fixed;
  inset: 0;
  /* left: 0;
  right: 0;
  top: 0;
  bottom: 0; */
  background-color: rgba(0, 0, 0, 0.4);
  /* can chinh giua overlay */
  align-items: center;
  justify-content: center;
  /* Can hien len thi display: flex */
  /* display: flex; */
  display: none;
  flex-direction: column;
}

.modal-noti.open {
  display: flex;
}

.modal-noti.close {
  display: none;
}

.modal-container--noti {
  display: inline-flex;
  padding: 5rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  border-radius: 1rem;
  background-color: var(--m-3-sys-light-primary, #785b5b);
  min-width: 714px;
  min-height: 30rem;
  position: relative;
  animation: modalFadeIn ease 0.2s;
}

.modal-noti .noti__icon-check {
  display: flex;
  width: 5rem;
  height: 5rem;
  justify-content: center;
  align-items: center;
}

.noti__icon-check span {
  font-size: 5rem;
}

.modal-noti .noti__btn {
  color: var(--md-sys-color-surface-variant-light);
}

.btn--close {
  position: absolute;
  top: 2rem;
  right: 2rem;
  color: #aaa;
  font-size: 2rem;
  line-height: 2rem;
  width: 2rem;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
}

/* popup__reset */
.popup__reset h1 {
  padding: 1rem 2rem;
}

.popup__reset .modal__btn--close {
  color: #524343;
}

.popup__reset .reset__password {
  flex-direction: row;
  padding: 2rem;
  gap: 1rem;
}

.popup__reset .modal__btn {
  display: flex;
}

.popup__reset .modal__btn--back {
  position: absolute;
  top: 5%;
  left: 2%;
}

.popup__reset .modal__btn--back span {
  font-size: 2rem;
  color: #524343;
}

/* .popup__email-request  */
.popup__email-request .h1 {
  padding: 1rem 2rem;
}

.popup__email-request .modal__btn--close {
  color: #524343;
}

.popup__email-request .modal__btn--back {
  position: absolute;
  top: 5%;
  left: 2%;
}

.popup__email-request .modal__btn--back span {
  font-size: 2rem;
  color: #524343;
}

.popup__email-request .reset__password {
  flex-direction: column;
  padding: 2rem;
}

/* popup__phonenumber-request */
.popup__phonenumber-request .h1 {
  padding: 1rem 2rem;
}

.popup__phonenumber-request .modal__btn--close {
  color: #524343;
}

.popup__phonenumber-request .modal__btn--back {
  position: absolute;
  top: 5%;
  left: 2%;
}

.popup__phonenumber-request .modal__btn--back span {
  font-size: 2rem;
  color: #524343;
}

.popup__phonenumber-request .reset__password {
  flex-direction: column;
  padding: 2rem;
}

/* popup__otp */
.popup__otp .modal__btn--close {
  color: #524343;
}

.popup__otp .modal__btn--back {
  position: absolute;
  top: 5%;
  left: 2%;
}

.popup__otp .modal__btn--back span {
  font-size: 2rem;
  color: #524343;
}

.popup__otp .modal__title {
  padding: 1rem 0;
}

.popup__otp .modal__content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.popup__otp .request {
  display: flex;
  padding: 2rem;
  gap: 1rem;
}

.popup__otp .otp__notice {
  margin: 1rem 0;
  text-align: center;
}

.popup__otp .otp__card-input {
  margin: 2rem 0;
  display: flex;
  justify-content: center;
  /* justify-content: space-between; */
  grid-template-columns: repeat(6, auto);
  gap: 12rem;
}

.popup__otp .otp__card-input input {
  width: 5rem;
  height: 5rem;

  font-size: 1.5rem;
  text-align: center;
  border-radius: .75rem;
  border: 1px solid #785B5B;
}

.popup__otp .profile__btn {
  display: flex;
  justify-content: flex-end;
}

.popup__otp .otp__reject {
  display: flex;
  justify-content: center;
}

/* popup__newpassword */
.popup__newpassword h1 {
  padding: 1rem 2rem;
}

.popup__newpassword .modal__btn--close {
  color: #524343;
}

.popup__newpassword .modal__btn--back {
  position: absolute;
  top: 5%;
  left: 2%;
}

.popup__newpassword .modal__btn--back span {
  font-size: 2rem;
  color: #524343;
}

.popup__newpassword .reset__password {
  flex-direction: column;
  padding: 2rem;
}

.popup__newpassword .input__wrapper {
  position: relative;
  display: inline-block;

  & .icon {
    position: absolute;
    right: 4px;
    top: 50%;
    transform: translateY(-50%);
  }

  & input {
    width: 100%;
  }
}

.spaceInUp {
  -webkit-animation: spaceInUp 1s ease both;
  animation: spaceInUp 1s ease both;
}