/* item product */
.product__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 12px;
  background-color: #fff;
  position: relative;
}

.product__image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 204px;
  width: 100%;
}

.product__item:hover {
  & .product__button__section {
    display: flex;
  }

  & .product__stock {
    display: none;
  }

  box-shadow:
    0px 1px 3px 0px rgba(0, 0, 0, 0.3),
    0px 4px .75rem 3px rgba(0, 0, 0, 0.15);
  /* max-height: fit-content; */
}

.product__image img {
  /* display: block; */
  position: absolute;
  width: 100%;
  height: 204px;
  object-fit: cover;
  padding: 1rem;
  --webkit--transition: opacity 0.1s ease-in-out;
  -moz-animation: opacity 0.1s ease-in-out;
  -ms-transition: opacity 0.1s ease-in-out;
  -o-transition: opacity 0.1s ease-in-out;
  transition: opacity 0.1s ease-in-out;
}

.product__item:hover .product__image .img_font {
  opacity: 0;
}

.icon_heart,
.icon_favorite {
  cursor: pointer;
}

.icon_favorite {
  display: none;
}

.product__item .product__button__section {
  display: flex;
  align-items: center;
  background-color: #cfc1c1;
  width: 100%;
  height: 35px;
  justify-content: space-around;
  border-radius: 0px 0px .75rem .75rem;
  background: var(--m-3-sys-light-primary, #785b5b);
  cursor: pointer;
  display: none;
  position: absolute;
  bottom: 0;
}

.product__item .vertical {
  width: 1px;
  height: 24px;
  background-color: #fff;
}

.product__button__view,
.product__item .product__button__sell {
  color: #fff !important;
  display: block;
  border-radius: 0;
  /* border-bottom-left-radius: .75rem; */
  width: 100%;
  height: 35px;
  text-align: center;
  line-height: 35px;
  cursor: pointer;

  & a {
    color: inherit;
    text-decoration: none;
  }
}

.product__button__sell a {
  color: #fff;
  text-decoration: none;
}

.product__body {
  text-align: center;
  padding: 0 12px 0px 12px;
}

.product__body h3 {
  height: 4.75rem;
}

.product__price {
  display: flex;
  justify-content: center;
  /* margin: .75rem 0; */
}

.product__price__current {
  margin-right: .75rem;
  font-weight: bold;
}

.product__price__discount {
  text-decoration: line-through;
}

.product__discount {
  font-weight: bold;
  margin-bottom: 16px;
}

.product__stock {
  font-weight: 500;
  line-height: 2rem;
  padding: 0px 42px 11px 42px;
}

/* item san pham het hang */
.product__outstock {
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 12px;
  min-width: 247px;
  background: var(--m-3-state-layers-dark-surface-dim-opacity-016, rgba(20, 18, 24, 0.16));
}

/* Chi tiet san pham */
.modal-product {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  /* can chinh giua overlay */
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* Can hien len thi display: flex */
  /* display: flex; */
  display: none;
}

.modal-product.active {
  /* display: flex; */
  z-index: 2;
}

.modal-container--product {
  display: flex;
  padding: 2rem;
  /* padding: 32px;
  gap: 32px; */
  background-color: white;
  max-width: 86rem;
  width: 90% !important;
  /* max-height: 60rem; */
  height: auto;
  position: relative;
  animation: modalFadeIn ease 0.2s;
  border-radius: 1rem;
}

.modal__img {
  display: flex;
  grid-auto-rows: min-content;
  /* height: 100%;
  flex-direction: column; */
  
  /* justify-content: space-between; */
  /* align-items: center; */
}

.modal__img img {
  width: 100%;
  aspect-ratio: 1/1;
  /* height: 100%; */
  display: block;
}

.img-display {
  overflow: hidden;
}

.img-showcase {
  display: flex;
  width: 100%;
  transition: all 0.5s ease;
}

.img-showcase img {
  min-width: 100%;
  /* height: 500px; */
  object-fit: cover;
  border-radius: 0.75rem;
}

.img-select {
  display: flex;
}

.img-item {
  /* margin: 12px;
  width: 113px;
  height: 113px; */
  height: 100%;
  object-fit: cover;
}

.img-item img {
  border-radius: 4px;
}

.img-item .active__selected img {
  border: 3px solid var(--md-ref-palette-error50);
}

/* .img-item:first-child {
  margin-left: 0;
}

.img-item:last-child {
  margin-right: 0;
}

.img-item:nth-child(1),
.img-item:nth-child(2),
.img-item:nth-child(3) {
  margin-right: 0;
} */

.img-item:hover {
  opacity: 0.8;
}

.modal__body {
  display: flex;
  /* width: 442px; */
  /* padding-top: 12px; */
  flex-direction: column;
  /* align-items: flex-start; */
  gap: 1rem;
}

.modal__product__name {
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0.15px;
}

.modal__info__rate {
  display: flex;
  gap: 1rem;
  padding: 0px 1rem;
  align-items: end;
}

.modal__info__rate .rate__star {
  display: flex;
  align-items: center;
  color: var(--m-3-sys-light-error, #ba1a1a);
}

.modal__price {
  min-height: 4rem;
  height: auto;
  padding: .5rem 1rem;
  gap: 1rem;
  border-radius: 4px;
  background-color: var(--md-sys-color-surface);

  display: flex;
  justify-content: flex-end;
  align-items: center;

  /* display: flex;
  align-self: stretch;
  height: 50px;
  padding: 5px 0px;
  justify-content: center;
  align-items: center;
  gap: 12px;
  border-radius: 4px;
  background: var(--m-3-sys-light-on-primary, #f1efe7); */
}

.modal__price .cost {
  text-decoration: line-through;
}

.modal__price .cost__discount {
  color: var(--md-sys-color-error);
}

.modal__price .percent__discount {
  color: #fff;
  border-radius: .5rem;
  background: var(--md-sys-color-error);
  padding: .5rem .75rem;
}

.modal__color,
.modal__size {
  display: flex;
  align-items: center;
  gap: 20px;
}

.modal__color .color__value,
.modal__size .size__value {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 32px;
  width: 110px;
  border-radius: 32px;
  border: 1px solid var(--m-3-sys-light-outline, #857373);
  padding: 6px 16px;
}

.modal__color .color__value {
  margin-left: 14px;
}

.modal__quantity {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  gap: 10px;
}

.modal__quantity .quantity__stock {
  display: flex;
  justify-content: center;
  align-items: center;
  /* line-height: 20px; */
}

.modal__quantity .quantity__product {
  display: flex;
  align-items: center;
  padding: 4px 0px;
  justify-content: center;
  /* border: none; */
  width: 105px;
  height: 32px;
  border-radius: .75rem;
  border: 1px solid var(--m-3-sys-light-outline, #857373);
  margin-left: 24px;
}

input[type="number"] {
  /* -moz-appearance: textfield; */
  text-align: center;
  border: none;
  width: 40px;
  height: 32px;
  color: var(--m-3-sys-light-outline);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.quantity__product .quantity__product-decrement,
.quantity__product .quantity__product-increment {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
  width: 32px;
  height: 32px;
}

.modal__button {
  display: flex;
  /* width: 442px; */
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.modal__button .button__cart {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: .75rem;
  color: #9c4048;
  border: 1px solid #9c4048;
  background: var(--m-3-ref-primary-primary-95, #ffedec);
  cursor: pointer;
}

.modal__button .button__view {
  /* height: 40px;
  line-height: 40px; */
  /* padding: 10px 40px; */

  & a {
    color: #fff;
    text-decoration: none;
  }
}

.button__view a {
  padding: 10px 40px;
  text-decoration: none;
  color: #fff;
}

.modal__context {
  display: flex;
  flex-direction: column;
  text-align: justify;
}

.modal__context .context__info__body {
  margin-left: 20px;
}

.modal__context .context__detail__body li {
  list-style-type: none;
}

/* modal noti */
.modal-noti {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  align-items: center;
  justify-content: center;
  display: none;
  flex-direction: column;
}

.modal-noti.active {
  display: flex;
  z-index: 2;
}

.modal-container--noti {
  display: inline-flex;
  padding: 60px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
  border-radius: 12px;
  background-color: var(--m-3-sys-light-primary, #785b5b);
  width: 714px;
  height: 360px;
  position: relative;
  animation: modalFadeIn ease 0.5s;
}

.modal-noti .noti__icon-check {
  display: flex;
  width: 64px;
  height: 64px;
  justify-content: center;
  align-items: center;
}

.noti__icon-check span {
  font-size: 64px;
}

.modal-noti .noti__btn {
  color: var(--md-sys-color-surface-variant-light);
}

@media (min-width: calc(48rem + 1px)) and (max-width: 64rem) {
  .modal-container--product {
    /* width: 700px; */
    height: auto;
    /* gap: 24px; */
    /* padding: 24px; */
  }

  .modal__body {
    /* width: 350px; */
  }

  .modal__img {
    /* width: 300px; */
  }

  .modal__product__name {
    font-size: 2rem;
  }

  .img-item {
    /* width: 65px;
    height: 65px; */
  }

  .modal-container--product .modal__button {
    width: 100%;
  }

  .img-showcase img {
    /* height: 520px; */
    object-fit: cover;
  }

  .context__detail,
  .context__info {
    margin-top: 0;
  }

  /* .button-close {
    top: 10px;
    right: 17px;
  }

  .modal-noti .modal-container--noti {
    width: 80%;
    height: 30%;
    padding: 10px;
  }

  .noti__text {
    font-size: 2rem;
  } */
}

@media (max-width: 48rem) {
  .product__filter {
    flex-direction: column;
    align-items: flex-start;
  }

  .product__body {
    text-align: center;
    padding: 0 .75rem 0px .75rem;
}

  .modal-container--product {
    flex-direction: column;
    height: auto;
    width: 90%;
    padding: 20px;
    gap: 10px;
  }

  .modal-container--product .modal__button {
    width: 100%;
  }

  .modal__body {
    width: 100%;
  }

  .modal__context {
    display: none;
  }

  .modal__product__name {
    font-size: 2rem;
  }

  .img-showcase img {
    /* height: 300px; */
    object-fit: cover;
  }

  .img-select {
    display: none;
  }

  .img-nav {
    display: flex;
    width: 85%;
    left: 50%;
    top: 22%;
  }

  /* .modal-noti .modal-container--noti {
    width: 80%;
    height: 30%;
    padding: 10px;
  }

  .noti__text {
    font-size: 1.75rem;
  }

  .button-close {
    top: 0px;
    right: 1px;
  }

  .button__view a {
    padding: 10px 13px;
  } */
}

/* .button-close {
  position: absolute;
  top: 24px;
  right: 25px;
  color: #aaa;
  font-size: 24px;
  line-height: 24px;
  width: 24px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
} */

.img-nav {
  /* display: flex; */
  display: none;
  position: absolute;
  justify-content: space-between;
  left: 40%;
  transform: translateX(-50%);
  width: 51.75rem;
}

.img-nav button {
  height: 40px;
  width: 40px;
  background-color: #ccc;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}

.img-nav .arrow-left {
  margin-top: 3px;
  margin-left: .75rem;
}
