<div id="modal--del-location" class="modal">
  <div class="modal__content on-primary">
    <button class="modal__btn--close btn-icon" onclick="closeModal()">
      <div class="status-layer">
        <span class="icon material-symbols-outlined">close</span>
      </div>
    </button>
    <h1 class="modal__title headline-large">Xóa địa chỉ nhận hàng</h1>
    <h2 class="modal__subtitle title-medium mt-12">Bạn có chắc chắn sẽ xóa
      thông tin địa chỉ nhận hàng không?</h2>
    <p class="modal__context body-small mt-12">Thao tác này không thể hoàn lại
    </p>
    <form action="" method="">
      <div class="btn__wrapper row mt-12">
        <button class="btn--outlined label-large col-6" type="button"
          onclick="closeModal()">
          <div class="status-layer">
            <span>Hủy bỏ</span>
          </div>
        </button>
        <button class="btn--filled label-large col-6 location-list__btn--del"
          type="button" onclick="closeModal(), delLocation()">
          <div class="status-layer">
            <span>Đồng ý</span>
          </div>
        </button>
      </div>
    </form>
  </div>
</div>