    <!-- Sản phẩm yêu thích -->
    <article class="section__info visible">
      <h1 class="headline-large">Sản phẩm yêu thích</h1>
      <p class="body-medium mt-12">
        Trang cung cấp thông tin về sản phẩm yêu thích
      </p>
    </article>
    <div class="section__content row mt-12">
      <div class="product__item col-4">
        <div class="product__image">
          <img
            src="/TAA_FE/public/imgs/products/product1.jpg"
            alt="Kẹp tóc"
            class="img_back"
          />
          <img
            src="/TAA_FE/public/imgs/products/product2.jpg"
            alt="Kẹp tóc"
            class="img_font"
          />
        </div>
        <div class="product__body">
          <span
            class="material-symbols-outlined icon_heart error-text"
          >
            favorite
          </span>
          <h3 class="product__name body-large">Kẹp tóc</h3>
          <div class="product__price label-large">
            <p class="product__price__current">35,000 đ</p>
            <p class="product__price__discount outline-variant-text">
              70,000 đ
            </p>
          </div>
          <p class="product__discount title-medium error-text">
            Giảm 50%
          </p>
          <p class="product__stock label-large primary-text">
            Còn hàng
          </p>
        </div>
      </div>

      <!-- item outstock -->
      <div class="product__outstock col-4">
        <div class="product__image">
          <img
            src="/TAA_FE/public/imgs/products/product1.jpg"
            alt="Kẹp tóc"
            class="img_back"
          />
          <img
            src="/TAA_FE/public/imgs/products/product2.jpg"
            alt="Kẹp tóc"
            class="img_font"
          />
        </div>
        <div class="product__body">
          <span
            class="material-symbols-outlined icon_heart error-text"
          >
            favorite
          </span>
          <h3 class="product__name body-large">Kẹp tóc</h3>
          <div class="product__price label-large">
            <p class="product__price__current">35,000 đ</p>
            <p class="product__price__discount outline-variant-text">
              70,000 đ
            </p>
          </div>
          <p class="product__discount title-medium error-text">
            Giảm 50%
          </p>
          <p class="product__stock headline-small error-text">
            Hết hàng
          </p>
        </div>
      </div>
    </div>