<div id="modal--noti" class="modal modal-noti">
  <div class="modal-container--noti modal__content on-primary-text">
    <div class="noti__icon-check spaceInUp">
      <span class="material-symbols-outlined icon--filled"> check_circle </span>
    </div>
    <p class="noti__text headline-large">Bạn đã thực hiện thành công!</p>
    <button class="btn-icon btn--close">
      <span class="material-symbols-outlined" onclick="modalCtl.closeModal()">
        close</span>
    </button>
  </div>
</div>