<nav class="breadcrumbs mt-12 body-medium">
  <ul class="container visible">
    <li class="breadcrumbs__item">
      <a class="breadcrumbs__link" href="#">Trang chủ</a>
    </li>
    <li class="breadcrumbs__item">
      <a class="breadcrumbs__link" href="#">Trang chủ</a>
    </li>
    <li class="breadcrumbs__item">
      <a class="breadcrumbs__link" href="#">Trang chủ</a>
    </li>
    <li class="breadcrumbs__item">
      <a class="breadcrumbs__link" href="#">Trang chủ</a>
    </li>
    <li class="breadcrumbs__item">
      <a class="breadcrumbs__link" href="#">Trang chủ</a>
    </li>
  </ul>
</nav>