<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../base.css">
        <link rel="stylesheet" href="./footer.css">
    </head>
    <body>
        <footer class="footer">
            <div
                class="container">
                <!-- Cot  -->
                <div class="col">
                    <img class="logo" src="../../public/logoImage.svg"/>
                    <div class="frame">
                        <p>Việc đặt phòng của bạn là động lực cho chúng tôi tiếp tục duy trì
                                        được công ty</p>
                        <p>Bạn liên hệ với chúng tôi bằng các mạng xã hội</p>
                        <div class="container-social-media">
                            <img class="social-media" src="../../public/🦆 icon _facebook_.svg" alt="_facebook_"/>
                            <img class="social-media" src="../../public/🦆 icon _instagram icon_.svg" alt="_instagram"/>
                            <img class="social-media" src="../../public/YouTube 16.svg" alt="YouTube">
                        </div>
                    </div>
                </div>

                <div class="col-2">
                    <h3>Công ty</h3>
                    <div class="frame about">

                        <p>
                            <a href="#">Về chúng tôi</a>
                        </p>

          <p><a href="#">Tin tức </a></p>

                        <p>
                            <a href="#">Hướng dẫn mua hàng
                            </a>
                        </p>

                    </div>
                </div>

                <div class="col-3">

                    <h3>Cập nhật từ chúng tôi</h3>

                    <div class="frame">
                        <p class="div">
                            Xác nhận thư điện tử của bạn để nhận được ngay những cập nhật mới
                                        nhất từ chúng tôi hàng tuần
                        </p>

                        <div class="frame-2">
                            <div class="container-input">
                                <img src="../../public/mailIcon.svg" alt="mail_icon" class="mail_icon"/>
                                <input type="email" name="email_input" id="email_input" class="input" placeholder="Nhập Email của bạn"/>
                            </div>

                            <button class="btn" type="button">Xác nhận</button>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </body>
</html>
<footer class="visible un-radius mt-12">
  <div class="container">
    <div class="row">
      <div class="footer__col col-5">
        <!-- <h1 class="footer__title headline-large">TAA</h1> -->
        <div class="footer__title">
          <a href="#">
            <img src="/TAA_FE/public/logo.svg" alt="Logo TAA with Text">
          </a>
        </div>
        <div class="footer__content body-medium">
          <p class="mt-8">TAA là một nền tảng thương mại điện tử chuyên về
            bán đồ phụ kiện trang sức. Với sự tập trung vào việc cung cấp
            những sản phẩm chất lượng cao và thiết kế độc đáo, TAA đã trở
            thành điểm đến lý tưởng cho những người đam mê phụ kiện và trang
            sức.</p>
          <p class="mt-8">Việc mua hàng của bạn là động lực cho chúng tôi
            tiếp tục duy trì được công ty</p>
          <p class="mt-8">Bạn liên hệ với chúng tôi bằng các mạng xã hội</p>
        </div>
        <div class="footer__link mt-8">
          <a href="#">
            <img src="/TAA_FE/public/icon_facebook.svg" alt="Icon Facebook">
          </a>
          <a href="#">
            <img src="/TAA_FE/public/icon_youtube.svg" alt="Icon Youtube">
          </a>
          <a href="#">
            <img src="/TAA_FE/public/icon_instagram.svg" alt="Icon Instagram">
          </a>
        </div>
      </div>
      <div class="footer__col col-2">
        <h1 class="footer__title headline-medium">Công ty</h1>
        <div class="footer__content">
          <div class="footer__link mt-8">
            <a class="body-medium" href="#">Tin tức</a>
          </div>
          <div class="footer__link mt-8">
            <a class="body-medium" href="#">Về chúng tôi</a>
          </div>
          <div class="footer__link mt-8">
            <a class="body-medium" href="#">Hướng dẫn mua hàng</a>
          </div>
        </div>
      </div>
      <div class="footer__col col-5">
        <h1 class="footer__title headline-medium">Cập nhật về chúng tôi</h1>
        <div class="footer__content body-medium">
          <p class="mt-8">Xác nhận thư điện tử của bạn để nhận được ngay
            những cập nhật mới nhất từ chúng tôi hàng tuần</p>
          <form class="email-submition mt-8">
            <input label="form--get-news__email" type="email" required>
            <button type="submit" class="btn--filled">
              <div class="status-layer">
                <span class="label-large">Xác nhận</span>
              </div>
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</footer>
