<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../base.css">
        <link rel="stylesheet" href="./footer.css">
    </head>
    <body>
        <footer class="footer">
            <div
                class="container">
                <!-- Cot  -->
                <div class="col">
                    <img class="logo" src="../../public/logoImage.svg"/>
                    <div class="frame">
                        <p>Việc đặt phòng của bạn là động lực cho chúng tôi tiếp tục duy trì
                                        được công ty</p>
                        <p>Bạn liên hệ với chúng tôi bằng các mạng xã hội</p>
                        <div class="container-social-media">
                            <img class="social-media" src="../../public/🦆 icon _facebook_.svg" alt="_facebook_"/>
                            <img class="social-media" src="../../public/🦆 icon _instagram icon_.svg" alt="_instagram"/>
                            <img class="social-media" src="../../public/YouTube 16.svg" alt="YouTube">
                        </div>
                    </div>
                </div>

                <div class="col-2">
                    <h3>Công ty</h3>
                    <div class="frame about">

                        <p>
                            <a href="#">Về chúng tôi</a>
                        </p>

                        <p>
                            <a href="#">Tin tức
                            </a>
                        </p>

                        <p>
                            <a href="#">Hướng dẫn mua hàng
                            </a>
                        </p>

                    </div>
                </div>

                <div class="col-3">

                    <h3>Cập nhật từ chúng tôi</h3>

                    <div class="frame">
                        <p class="div">
                            Xác nhận thư điện tử của bạn để nhận được ngay những cập nhật mới
                                        nhất từ chúng tôi hàng tuần
                        </p>

                        <div class="frame-2">
                            <div class="container-input">
                                <img src="../../public/mailIcon.svg" alt="mail_icon" class="mail_icon"/>
                                <input type="email" name="email_input" id="email_input" class="input" placeholder="Nhập Email của bạn"/>
                            </div>

                            <button class="btn" type="button">Xác nhận</button>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </body>
</html>
