<header class="visible un-radius">
  <div class="header__top">
    <div class="container">
      <a href="#">
        <img class="header__logo" src="/TAA_FE/public/logo.svg" alt="Logo TAA">
      </a>
      <span class="header__search search-bar">
        <input class="label-large" type="text" placeholder="Tìm kiếm">
        <button class="btn-icon btn--filled" type="submit">
          <div class="status-layer">
            <span class="icon material-icons">search</span>
          </div>
        </button>
      </span>
      <div class="header__wrapper">
        <a href="#" style="text-decoration: none;">
          <button class="btn-icon">
            <div class="status-layer">
              <span class="material-icons icon">shopping_cart</span>
            </div>
          </button>
        </a>
        <img class="header__avatar" src="/TAA_FE/public/avatar.png" alt="Avatar">
        <div class="header__user"
          style="display: none; position: absolute; top: 100%; right: 0; flex-direction: column;">
          <span class="label-large">Nguyễn Văn A</span>
          <span class="label-small">Thành viên</span>
        </div>
      </div>
    </div>
  </div>
  <nav class="main-nav">
    <ul class="container visible">
      <li class="main-nav__item active">
        <a href="#" class="main-nav__link label-large">Trang chủ</a>
      </li>
      <li class="main-nav__item">
        <a href="#" class="main-nav__link label-large">Sản phẩm</a>
      </li>
      <li class="main-nav__item">
        <a href="#" class="main-nav__link label-large">Tin tức</a>
      </li>
      <li class="main-nav__item">
        <a href="#" class="main-nav__link label-large">Về chúng
          tôi</a>
      </li>
      <li class="main-nav__item">
        <a href="#" class="main-nav__link label-large">Hướng dẫn sử
          dụng</a>
      </li>
    </ul>
  </nav>
</header>