* {
    margin: 0;
    padding: 0;
    text-decoration: none;
  }
  
  .header {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    gap: 24px;
    padding: 16px 0px 0px;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #ffffff;
  }
  
  .header .container {
    display: flex;
    max-width: 100%;
  
    justify-content: space-between;
    align-self: center;
    max-width: 1024px;
    width: 100%;
    align-items: center;
    position: relative;
    flex: 0 0 auto;
  }
  
  .header .logo {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 40px;
    object-fit: cover;
  }
  
  .header .inputs {
    display: inline;
    width: fit-content;
  
    position: relative;
    justify-self: center;
    text-align: center;
  }
  
  .header .search-bar {
    display: flex;
    max-width: 600px;
    width: 500px;
    height: 42px;
    align-items: center;
    gap: 4px;
    position: relative;
    margin-top: -1px;
    margin-bottom: -1px;
    margin-left: -1px;
    border-radius: 8px;
    border: 1px solid black;
    justify-self: center;
  }
  
  .header .state-layer-wrapper {
    display: inline-flex;
    justify-content: center;
    gap: 10px;
    border-radius: 100px;
    overflow: hidden;
    align-items: center;
    position: relative;
    flex: 0 0 auto;
  }
  
  .header .icon-wrapper {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 8px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .header .icon {
    position: relative;
    width: 24px;
    height: 24px;
  }
  
  .header .content {
    display: flex;
    width: 100%;
    align-items: center;
    gap: 10px;
    position: relative;
    flex: 1;
    align-self: stretch;
    flex-grow: 1;
  }
  
  .header .supporting-text {
    position: relative;
    width: 100%;
    border: #ffffff;
    outline: none;
  }
  
  .header .trailing-elements {
    display: inline-flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    flex: 0 0 auto;
    margin-top: -8px;
    margin-bottom: -8px;
  }
  
  .header .text-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 12px;
    position: relative;
    width: fit-content;
    font-family: "Roboto-Bold", Helvetica; 
    font-weight: 700;
    color: #000000;
    font-size: 16px;
    letter-spacing: 0.5px;
    line-height: 24px;
    white-space: nowrap;
  }
  
  .header .avatar {
    position: relative;
    width: 40px;
    height: 40px;
    background-color: #ffffff;
    border-radius: 64px;
    overflow: hidden;
    border: 1px solid;
  }
  
  .header .main-nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    width: 100%;
    max-width: 1024px;
    height: 48px;
    left: 0px;
    position: relative;
    text-wrap: nowrap;
  }
  
  .header .main-nav-li {
    min-width: 128px;
    display: flex;
    justify-content: center;
    
    padding: 0px 24px;
    flex: 0 0 auto;
    height: 48px;
    align-items: center;
    position: relative;
  }
  
  .header .label {
    cursor: pointer;
    position: relative;
    width: fit-content;
    white-space: nowrap;
  }
  .header .label:hover {
    /* background-color: rgba(120, 91, 91, 0.8); */
    background-color: rgba(0, 0, 0, 0.2);
  }
  
  .header .label-wrapper {
    display: inline-flex;
    min-width: 128px;
    height: 48px;
    align-items: center;
    justify-content: center;
    padding: 0px 24px;
    position: relative;
    flex: 0 0 auto;
    /* background-color: var(--m-3syslightprimary); */
  }
  
  .header .div {
    position: relative;
    width: fit-content;
    white-space: nowrap;
  }
  
  .header .profile {
    display: flex;
    flex-direction: row;
    gap: 12px;
    align-items: center;
    min-width: fit-content;
    position: relative;
    white-space: nowrap;
    justify-content: space-between;
  }
  
  .active-main-nav-li {
    background-color: #785b5b;
  }
  .sub-menu-wrap {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 52px;
    right: 0;
    width: 180px;
    height: 162px;
    z-index: 999;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.5s;
  }
  .sub-menu-wrap.open-menu {
    max-height: 280px;
    width: 180px;
    height: 162px;
  }
  
  .sub-menu {
    display: flex;
    flex-direction: column;
    text-align: end;
    background-color: azure;
    border: #000000 solid 1px;
  }
  
  .sub-menu div:hover {
    background-color: rgba(120, 91, 91, 1);
  }
  .sub-menu-li {
    padding: 0px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: end;
    font-weight: 600;
  }
  
  .sub-menu-li a {
    display:flex;
    justify-content: flex-end;
    width: 200px;
    height: 40px;
    align-items: center;
    text-decoration: none;
    color: #000000;
    padding-right: 24px;
  }
  
  