<header class="visible un-radius">
  <div class="header__top">
    <div class="container">
      <a href="#">
        <img class="header__logo" src="../public/logo.svg" alt="Logo TAA">
      </a>
      <span class="header__search search-bar">
        <input class="label-large" type="text" placeholder="Tìm kiếm">
        <button class="btn-icon btn--filled" type="submit">
          <div class="status-layer">
            <span class="icon material-icons">search</span>
          </div>
        </button>
      </span>
      <div class="header__wrapper">
        <button class="header__btn--login btn--outlined" type="button"
          data-modal-target="#modal--login">
          <div class="status-layer label-large">
            <span class="label-large">Đăng nhập</span>
          </div>
        </button>
        <button class="header__btn--register btn--filled" type="button"
          data-modal-target="#modal--register">
          <div class="status-layer label-large">
            <span class="label-large">Đăng ký</span>
          </div>
        </button>
      </div>
    </div>
  </div>
  <nav class="main-nav">
    <ul class="container visible">
      <li class="main-nav__item active">
        <a href="#" class="main-nav__link label-large">Trang chủ</a>
      </li>
      <li class="main-nav__item">
        <a href="#" class="main-nav__link label-large">Sản phẩm</a>
      </li>
      <li class="main-nav__item">
        <a href="#" class="main-nav__link label-large">Tin tức</a>
      </li>
      <li class="main-nav__item">
        <a href="#" class="main-nav__link label-large">Về chúng
          tôi</a>
      </li>
      <li class="main-nav__item">
        <a href="#" class="main-nav__link label-large">Hướng dẫn sử
          dụng</a>
      </li>
    </ul>
  </nav>
</header>