<header class="visible un-radius">
  <div class="header__top">
    <div class="container">
      <a href="/TAA_FE/src/homepage/">
        <img class="header__logo" src="/TAA_FE/public/logo.svg" alt="Logo TAA">
      </a>
      <span class="header__search search-bar">
        <input class="label-large" type="text" placeholder="Tìm kiếm">
        <button class="btn-icon btn--filled" type="submit">
          <div class="status-layer">
            <span class="icon material-symbols-outlined">
              search</span>
          </div>
        </button>
      </span>
      <div class="header__wrapper">
        <a href="#" style="text-decoration: none;">
          <button class="btn-icon">
            <div class="status-layer">
              <span class="icon material-symbols-outlined icon--filled">
                shopping_cart</span>
            </div>
          </button>
        </a>
        <label for="header__user--controller"
          class="header__user--controller__label">
          <span class="header__name">Nguyễn Văn A</span>
          <img class="header__avatar" src="/TAA_FE/public/avatar.png"
            alt="Avatar">
        </label>
        <input type="checkbox" id="header__user--controller">
        <div class="header__user label-small">
          <a href="/TAA_FE/src/homepage/accountPage/">Thông tin cá nhân</a>
          <a href="#">Đơn hàng</a>
          <a href="#">Sản phẩm yêu thích</a>
          <a href="/TAA_FE/src/homepage/">Đăng xuất</a>
        </div>
      </div>
    </div>
  </div>
  <nav class="main-nav label-large">
    <ul class="container visible">
      <li class="main-nav__item active">
        <a href="/TAA_FE/src/homepage/">Trang chủ</a>
      </li>
      <li class="main-nav__item">
        <a href="/TAA_FE/src/homepage/productsPage/">Sản phẩm</a>
      </li>
      <li class="main-nav__item">
        <a href="/TAA_FE/src/homepage/newsPage/">Tin tức</a>
      </li>
      <li class="main-nav__item">
        <a href="/TAA_FE/src/homepage/aboutUsPage/">Về chúng tôi</a>
      </li>
      <li class="main-nav__item">
        <a href="/TAA_FE/src/homepage/userManualPage/">Hướng dẫn sử dụng</a>
      </li>
    </ul>
  </nav>
</header>