<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <link rel="stylesheet" href="../base.css">
  <link rel="stylesheet" href="./header.css">
</head>
<body>
  <header class="header">
    <div class="container">
      <img class="logo" src="../../Public/logoImage.svg" />
      <!-- Middle -->
      <div class="inputs">
        <div class="search-bar">
          <div class="state-layer-wrapper">
            <div class="icon-wrapper">
              <img class="icon" src="../../Public/findIcon.svg" />
            </div>
          </div>

          <div class="content">
            <input name="find-bar" type="text" class="supporting-text"
              placeholder="Nhập sản phẩm" />
          </div>

          <div class="trailing-elements"></div>
        </div>
      </div>
      <!-- right corner -->

      <div class="profile">
        <div class="text-wrapper">
          <div class="icon-wrapper">
            <img src="../../Public/shop.svg" alt="shop_icon" />
          </div>
          <p>Nguyễn Văn A</p>
          <img class="avatar" src="../../Public/eren - Copy.png" />
        </div>

        <div class="sub-menu-wrap label-medium">
          <div class="sub-menu">
            <div class="sub-menu-li">
              <a href="#" class="label-medium">Thông tin tài khoản</a>
            </div>

            <div class="sub-menu-li">
              <a href="#" class="label-medium">Đơn hàng</a>
            </div>

            <div class="sub-menu-li">
              <a href="#" class="label-medium">Sản phẩm yêu thích</a>
            </div>

            <div class="sub-menu-li">
              <a href="#" class="label-medium">Đăng xuất</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="main-nav title-medium">
      <div class="main-nav-li label">
        TRANG CHỦ
      </div>
      <div class="main-nav-li label">
        SẢN PHẨM
      </div>
      <div class="main-nav-li label">
        TIN TỨC
      </div>
      <div class="main-nav-li label">
        VỀ CHÚNG TÔI
      </div>
      <div class="main-nav-li label">
        HƯỚNG DẪN MUA HÀNG
      </div>
    </div>
  </header>

  <script
    src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script></script>
</body>
<script
  src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="../../JS/header.js"></script>
<script>
  $(".label").on("click", function () {
    $(".label").removeClass("active-main-nav-li");
    $(this).addClass("active-main-nav-li");
  });

  $(".avatar").on("click", function () {
    $(".sub-menu-wrap").toggleClass("open-menu");
  });
</script>
</body>
</html>