<!-- <!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
</head>
<body> -->
<link rel="stylesheet" href="../../res/css/theme.css">
<link rel="stylesheet" href="../base.css">
<link rel="stylesheet" href="./header.css">
<header class="header">
  <div >
    <img class="logo" src="../../Public/logoImage.svg" />
    <!-- Middle -->
    <div class="inputs">
      <div class="search-bar">
        <div class="state-layer-wrapper">
          <div class="icon-wrapper">
            <img class="icon" src="../../public/findIcon.svg" />
          </div>
        </div>

        <div class="content">
          <input name="find-bar" type="text" class="supporting-text"
            placeholder="Nhập sản phẩm" />
        </div>

        <div class="trailing-elements"></div>
      </div>
    </div>

    <!-- right corner -->
    <div class="profile">
      <div class="text-wrapper">
        <div class="icon-wrapper">
          <img src="../../public/shop.svg" alt="shop_icon" />
        </div>
        <p>Nguyễn Văn A</p>
        <img class="avatar" src="../../public/eren - Copy.png" />
      </div>

      <div class="sub-menu-wrap label-medium">
        <div class="sub-menu">
          <div class="sub-menu-li">
            <a href="#" class="label-medium">Thông tin tài khoản</a>
          </div>

          <div class="sub-menu-li">
            <a href="#" class="label-medium">Đơn hàng</a>
          </div>

          <div class="sub-menu-li">
            <a href="#" class="label-medium">Sản phẩm yêu thích</a>
          </div>

          <div class="sub-menu-li">
            <a href="#" class="label-medium">Đăng xuất</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <nav class="container main-nav title-medium">
    <ul>
      <li class="main-nav-li label active">TRANG CHỦ</li>
      <li class="main-nav-li label">SẢN PHẨM</li>
      <li class="main-nav-li label">TIN TỨC</li>
      <li class="main-nav-li label">VỀ CHÚNG TÔI</li>
      <li class="main-nav-li label">HƯỚNG DẪN MUA HÀNG</li>
    </ul>
  </nav>
</header>

<script
  src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script>
  $(".label").on("click", function() {
    $(".label").removeClass("active");
    $(this).addClass("active");
  });

  $(".avatar").on("click", function() {
    $(".sub-menu-wrap").toggleClass("open-menu");
  });</script>