<div id="modal--login" class="modal">
  <div class="modal__content on-primary">
    <button class="modal__btn--close btn-icon" onclick="closeModal()">
      <div class="status-layer">
        <span class="icon material-symbols-outlined">close</span>
      </div>
    </button>
    <h1 class="modal__title headline-large">Đăng nhập</h1>
    <form action="/login" method="POST">
      <div class="form__row mt-24">
        <div class="row">
          <label class="col-4 label-large" for="f_log_phone">
            Số điện thoại:</label>
          <input class="col-8" type="text" name="phone" id="f_log_phone"
            required>
        </div>
      </div>
      <div class="form__row mt-12">
        <div class="row">
          <label class="col-4 label-large" for="f_log_pass">
            Mật khẩu:</label>
          <input class="col-8" type="password" name="pass" id="f_log_pass"
            required>
        </div>
      </div>
      <button class="btn--filled label-large full-width mt-12" type="submit">
        <div class="status-layer">
          <span>Đăng nhập</span>
        </div>
      </button>
    </form>
    <div class="row mt-36">
      <button class="btn- col-6 col-sm-12 body-medium"
        onclick='closeModal(), openModal("#modal--register")'>
        <div class="status-layer">
          <span class='highlight'>Quên mật khẩu</span>
        </div>
      </button>
      <button class="btn- col-6 col-sm-12 body-medium"
        onclick='closeModal(), openModal("#modal--register")'>
        <div class="status-layer">
          <span class='highlight'>Cần đăng ký</span>
        </div>
      </button>
    </div>
  </div>
</div>