<div id="modal--forgot" class="modal">
  <div class="modal__content on-primary">
    <button class="modal__btn--close btn-icon" onclick="modalCtl.closeModal()">
      <div class="status-layer">
        <span class="icon material-symbols-outlined">close</span>
      </div>
    </button>
    <h1 class="modal__title headline-large">Đăng nhập</h1>
    <form action="/forgot" method="POST">
      <div class="form__row mt-24">
        <div class="row">
          <label class="col-4 label-large" for="f_forgot_phone">
            Số điện thoại:</label>
          <input class="col-8" type="text" name="phone" id="f_forgot_phone"
            required>
        </div>
      </div>
      <button class="btn--filled label-large full-width mt-12" type="submit">
        <div class="status-layer">
          <span>Đăng nhập</span>
        </div>
      </button>
    </form>
    <button class="btn- full-width body-medium mt-36"
      onclick='modalCtl.nextModal("#modal--login")'>
      <div class="status-layer">
        <span>Bạn nhớ lại tài khoản mình <span class='highlight'>Đăng nhập
            ngay</span></span>
      </div>
    </button>
  </div>
</div>