<nav class="nav-tree mt-12">
  <ul class="container visible">
    <li class="nav-tree__item">
      <a class="nav-tree__link" href="#">Trang chủ</a>
    </li>
    <li class="nav-tree__item">
      <a class="nav-tree__link" href="#">Trang chủ</a>
    </li>
    <li class="nav-tree__item">
      <a class="nav-tree__link" href="#">Trang chủ</a>
    </li>
    <li class="nav-tree__item">
      <a class="nav-tree__link" href="#">Trang chủ</a>
    </li>
    <li class="nav-tree__item">
      <a class="nav-tree__link" href="#">Trang chủ</a>
    </li>
  </ul>
</nav>