<div id="modal__resetPassword-1" class="modal">
    <div class="modal__content on-primary">
      <button class="modal__btn--close btn-icon" onclick="closeModal()">
        <div class="status-layer">
          <span class="icon material-symbols-outlined">close</span>
        </div>
      </button>
      <h1 class="modal__title headline-large">Quên mật khẩu</h1>
      <form action="/forgetPassword" method="POST">
        <button class="btn--filled label-large full-width mt-12" type="submit">
          <div class="status-layer">
            <span class="material-symbols-outlined">
              account_circle</span>
            <span>Email</span>
          </div>
        </button>
        <button class="btn--filled label-large full-width mt-12" type="submit">
          <div class="status-layer">
            <span class="material-symbols-outlined">
              account_circle</span>
            <span>Số điện thoại</span>
          </div>
        </button>
      </form>
    </div>
</div>