<nav class="nav-page label-large">
  <div class="container">
    <button class="btn-icon nav-page__btn--ctler" disabled>
      <div class="status-layer">
        <span class="material-symbols-outlined">arrow_left</span>
      </div>
    </button>
    <ul>
      <a href="#"><li class="active">1</li></a>
      <a href="#"><li>2</li></a>
      <a href="#"><li>3</li></a>
      <li>...</li>
      <a href="#"><li>10</li></a>
    </ul>
    <button class="btn-icon nav-page__btn--ctler">
      <div class="status-layer">
        <span class="material-symbols-outlined">arrow_right</span>
      </div>
    </button>
  </div>
</nav>