<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/TAA_FE/src/base.css">
    <link rel="stylesheet" href="/TAA_FE/res/css/component.css">
</head>

<body>
    <div class="modal popup__newpassword">
        <div class="modal__content on-primary">
            <button class="modal__btn--back btn-icon" onclick="closeModal()">
                <div class="status-layer">
                    <span class="material-symbols-outlined">
                        arrow_back_ios_new
                        </span>
                </div>
            </button>
            <button class="modal__btn--close btn-icon" onclick="closeModal()">
                <div class="status-layer">
                    <span class="icon material-symbols-outlined">close</span>
                </div>
            </button>
            <h1 class="modal__title title-large">Tạo mật khẩu mới</h1>
            <div class="request visible">
            <form action="/forgetPassword" method="POST" class="reset__password">
                <div class="form__row mt-12">
                    <div class="row">
                      <label class="col-4 label-large title-small" for="password">Mật
                        khẩu:</label>
                      <div class="col-8 input__wrapper">
                        <input type="password" placeholder="********"
                          id="password">
                        <span class="icon icon--filled material-symbols-outlined">
                          edit</span>
                      </div>
                    </div>
                  </div>
                <div class="form__row mt-12">
                    <div class="row">
                      <label class="col-4 label-large title-small" for="password">Nhập lại mật khẩu:</label>
                      <div class="col-8 input__wrapper">
                        <input type="password" placeholder="********"
                          id="password">
                        <span class="icon icon--filled material-symbols-outlined">
                          edit</span>
                      </div>
                    </div>
                  </div>
                  <button class="btn--filled label-large full-width mt-12" type="submit">
                    <div class="status-layer">
                      <span>Xác nhận</span>
                    </div>
                  </button>
            </form>
        </div>
        </div>
    </div>
</body>

</html>