<html lang="vi">

<head>
  <meta charset="UTF-8">
  <meta name="author" content="IE104.O12_Group3">
  <meta name="description" content="Trang web TAA là một nền tảng thương mại
    điện tử chuyên về bán đồ phụ kiện trang sức. Với sự tập trung vào việc cung
    cấp những sản phẩm chất lượng cao và thiết kế độc đáo, TAA đã trở thành
    điểm đến lý tưởng cho những người đam mê phụ kiện và trang sức.">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="/TAA_FE/public/styles/pages/base.css">
  <link rel="stylesheet" href="/TAA_FE/views/pages/post/post.css">
  <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60"
    crossorigin="anonymous"></script>
  <script src="/TAA_FE/public/scripts/modules/main.js"></script>
  <title>TAA - Bài viết</title>
</head>

<body>
  <div id="main" class="on-primary">
    <div id="main" class="on-primary">
      <%- include('../../partials/header', { activeIdx: 3 }) %>
      <%- include('../../partials/breadcrumbs', { 
        data: [
          { label: 'Trang chủ', link: '/' },
          { label: 'Tin tức', link: '/news' }
          { label: 'Bài viết', link: '/post' }
        ]
       }) %>

    <main>
      <section class="post__content mt-12"> <!-- Giới hạn lại độ rộng của nội dung -->
        <div class="container">
          <div class="post__container">
            <h1 class="section__title display-large">GIẢI MÃ PHONG CÁCH Y2K</h1>
            <p class="date body-large mt-12">-25/10/2023-</p>
            <p class="content body-large mt-12">Y2K - phong cách thời trang nổi loạn có lẽ không còn xa lạ gì
              với
              chúng
              ta bởi thời trang và xu hướng thẩm mỹ từ cuối thập niên 90 đầu 2000 - đã gây chú ý trở lại trong
              những
              năm gần đây và được các tín đồ thời trang chào đón nồng nhiệt.</p>
            <img class="picture1" src="/TAA_FE/public/imgs/banners/banner.png" alt="Ảnh bìa">
            <p class="heading headline-small">KẸP TÓC</p>
            <p class="content text body-large">Chiếc kẹp tóc có thể dễ dàng tìm mua và được kết hợp trong nhiều phong
              cách do có đa dạng thiết kế, màu sắc. Phụ kiện này còn được yêu thích nhờ khả năng mang lại vẻ ngoài trẻ
              trung, đáng yêu cho người sử dụng. Không chỉ được Gen Z ưa chuộng, các kiểu kẹp bằng đá, kẹp ngọc trai còn
              chiếm
              trọn tình cảm của những cô gái theo đuổi phong cách vintage aesthetic.</p>
            <div class="img_section">
              <img class="picture-product" src="/TAA_FE/public/imgs/products/product1.jpg" alt="product1">
              <img class="picture-product" src="/TAA_FE/public/imgs/products/product2.jpg" alt="product3">
              <img class="picture-product" src="/TAA_FE/public/imgs/products/product4.jpg" alt="product1">
              <img class="picture-product" src="/TAA_FE/public/imgs/products/product3.jpg" alt="product3">
            </div>

            <p class="heading headline-small">DÂY ĐEO HẠT CƯỜM</p>
            <p class="content text body-large">Mùa lễ hội, những kì nghỉ cực cháy sao có thể bỏ qua món phụ kiện đầy sắc
              màu, sự
              kết
              hợp đầy sáng tạo của phong cách thập niên 2000 mà vẫn bắt kịp trend hiện tại? Những chiếc vòng cổ, dây
              đeo
              hạt cườm cho ra những phong cách riêng biệt, mang đậm dấu ấn cá nhân giúp thoả đam mê những tín đồ thời
              trang dù là khó tính nhất!</p>
            <div class="img_section">

              <img class="picture-product" src="/TAA_FE/public/imgs/products/product5.jpg" alt="product1">
              <img class="picture-product" src="/TAA_FE/public/imgs/products/product6.jpg" alt="product3">
              <img class="picture-product" src="/TAA_FE/public/imgs/products/product8.jpg" alt="product1">
              <img class="picture-product" src="/TAA_FE/public/imgs/products/product7.jpg" alt="product3">

            </div>

            <p class="heading headline-small">MŨ</p>
            <p class="content text body-large">Là phụ kiện phổ biến của cộng đồng hip hop những năm 80, mũ xô từng bước
              trở
              thành
              món đồ thời trang không thể thiếu của trào lưu Y2K. Hiện nay, những chiếc mũ xô xuất hiện với tần số dày
              đặt
              với nhiều phiên bản bắt mắt như tie dye, kiểu đan móc crochet, denim, họa tiết ngựa vằn,… cùng các tông
              màu
              rực rỡ thu hút rất lớn giới trẻ</p>
            <div class="img_section">
              <img class="picture-product" src="/TAA_FE/public/imgs/products/product9.jpg" alt="product1">
              <img class="picture-product" src="/TAA_FE/public/imgs/products/product11.jpg" alt="product3">
              <img class="picture-product" src="/TAA_FE/public/imgs/products/product10.jpg" alt="product1">
              <img class="picture-product" src="/TAA_FE/public/imgs/products/product12.jpg" alt="product3">
            </div>
          </div>
        </div>
      </section>
      <img class="picture3" src="/TAA_FE/public/imgs/banners/poster.png" alt="Định hướng">
    </main>

    <!-- <footer></footer> -->
    <%- include('../../partials/footer') %>
    
  </div>
  <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
  <script type='module' src='/scripts/modules/main.js'></script>
</body>

</html>
