<span class="btn-icon btn-checkbox <%= classList %>">
  <input type="checkbox" id="<%= id %>" name="<%= id %>">
  <label for="<%= id %>">
    <span class="icon icon--filled material-symbols-outlined">
      check_box_outline_blank</span>
    <span class="icon icon--filled material-symbols-outlined --checked">
      check_box</span>
    <span class="icon icon--filled material-symbols-outlined --indeterminate">
      indeterminate_check_box</span>
  </label>
</span>