<nav class="main-nav">
  <ul class="container visible label-large">
    <li class="main-nav__item active">
      <a class="main-nav__link" href="/TAA_FE/src/homepage/">Trang chủ</a>
    </li>
    <li class="main-nav__item">
      <a class="main-nav__link" href="/TAA_FE/src/homepage/productsPage/">Sản
        phẩm</a>
    </li>
    <li class="main-nav__item">
      <a class="main-nav__link" href="/TAA_FE/src/homepage/newsPage/">Tin
        tức</a>
    </li>
    <li class="main-nav__item">
      <a class="main-nav__link" href="/TAA_FE/src/homepage/aboutUsPage/">Về
        chúng tôi</a>
    </li>
    <li class="main-nav__item">
      <a class="main-nav__link"
        href="/TAA_FE/src/homepage/userManualPage/">Hướng dẫn sử
        dụng</a>
    </li>
  </ul>
</nav>