<article class="news__item col-6 visible">
  <div class="row">
    <img class="news__img col-4 col-sm-12" src="/imgs/banners/<%= imgPath != '' ? imgPath : news__img.png %>" alt="news1">
    <div class="news__body col-8 col-sm-12">
      <h2 class="article__title title-medium"><%- title %></h2>
      <p class="article__context body-medium mt-12"><%- context %></p>
    </div>
  </div>
</article>