<!-- <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/TAA_FE/src/base.css">
    <link rel="stylesheet" href="/TAA_FE/res/css/component.css">
</head>

<body> -->
    <!-- <div id="reset" class="modal"> -->
    <div class="popup__reset">
        <div class="modal__content on-primary">
            <button class="modal__btn--close btn-icon" onclick="closeModal()">
                <div class="status-layer">
                    <span class="icon material-symbols-outlined">close</span>
                </div>
            </button>
            <h1 class="modal__title title-large">Quên mật khẩu</h1>
            <form action="/forgetPassword" method="POST" class="reset__password">
                <button class="btn--outlined label-large btn-icon-label full-width" type="submit">
                    <div class="status-layer">
                        <span class="icon material-symbols-outlined">
                            account_circle
                        </span>
                        <span class="label">Email</span>
                    </div>
                </button>
                <button class="btn--outlined label-large btn-icon-label full-width" type="submit">
                    <div class="status-layer">
                        <span class="icon material-symbols-outlined">
                            account_circle</span>
                        <span class="label">Số điện thoại</span>
                    </div>
                </button>
            </form>
        </div>
    </div>
<!-- </div> -->
<!-- </body>

</html> -->