<html lang="vi">

<head>
  <meta charset="UTF-8">
  <meta name="author" content="IE104.O12_Group3">
  <meta name="description" content="Trang web TAA là một nền tảng thương mại
    điện tử chuyên về bán đồ phụ kiện trang sức. Với sự tập trung vào việc cung
    cấp những sản phẩm chất lượng cao và thiết kế độc đáo, TAA đã trở thành
    điểm đến lý tưởng cho những người đam mê phụ kiện và trang sức.">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/pages/base.css">
  <link rel="stylesheet" href="/styles/pages/site/homepage.css">
  <title>TAA - Trang chủ</title>
</head>

<body>
  <div id="main" class="on-primary">
    <%- include('../../partials/header', { activeIdx: 0 }) %>
    <main>
      <section id="discover-section" class='full-width'>
        <div class="section__content slider">
          <div class="slider__wrapper">
            <img class="slider__img" src="/imgs/banners/1.png" alt="Image 1">
            <img class="slider__img" src="/imgs/banners/2.png" alt="Image 2">
            <img class="slider__img" src="/imgs/banners/3.png" alt="Image 3">
            <img class="slider__img" src="/imgs/banners/1.png" alt="Image 1">
          </div>
        </div>
      </section>

      <section id="hot-products" class="mt-64 full-width">
        <div class="container">
          <h1 class="section__title display-medium">Sản phẩm nổi bật trong
            tuần</h1>
          <div class="section__content mt-12">
            <div class="fade fade--left"></div>
            <div class="product__wrapper --scroll-x"></div>
            <div class="fade fade--right"></div>
          </div>
        </div>
      </section>

      <section id="endow" class="mt-64">
        <div class="container">
          <h1 class="section__title display-medium">Các ưu đãi khi mua trên
            TAA
          </h1>
          <div class="section__content row body-large mt-12">
            <div class="endow__item visible col-12 col-lg-6">
              <h2 class="endow__title headline-medium">Giảm cực sốc lên đến
                50%</h2>
              <p class="endow__context">Dành riêng cho gói hội viên của TAA
              </p>
              <div>
                <%- include('../../components/button', {
                  type: '',
                  options: 'btn--filled',
                  classList: '',
                  label: 'Tìm hiểu ngay',
                  onclick: '',
                }) %>
                <!-- <button class="btn--filled">
                  <span class="status-layer">Tìm hiểu ngay</span>
                </button> -->
              </div>
            </div>
            <div class="endow__item visible col-12 col-lg-6">
              <h2 class="endow__title headline-medium">Freeship cho mọi đơn
                hàng
              </h2>
              <p class="endow__context">Mã giảm trao tay mua ngay kẻo hết</p>
              <div>
                <%- include('../../components/button', {
                  type: '',
                  options: 'btn--filled',
                  classList: '',
                  label: 'Tìm hiểu ngay',
                  onclick: '',
                }) %>
                <!-- <button class="btn--filled">
                  <span class="status-layer">Tìm hiểu ngay</span>
                </button> -->
              </div>
            </div>
          </div>
        </div>
      </section>

      <section id="Q-A" class="mt-64">
        <div class="container">
          <div class="row">
            <img class="Q-A__imgs visible col-12 col-lg-6" src="/imgs/banners/q&a.png" alt="Q-A__img">
            <article class="section__content col-12 col-lg-6 body-large">
              <h2 class="article__title display-medium">Hỏi xoáy đáp xoay</h2>
              <h3 class="article__subtitle headline-small mt-8">Nơi trả lời
                những câu hỏi của bạn</h3>
              <hr class="mt-12">
              <p class="mt-12">Chính sách bảo hành của TAA như thế nào?</p>
              <hr class="mt-12">
              <p class="mt-12">Làm sao để đổi hàng trên TAA?</p>
              <hr class="mt-12">
              <p class="mt-12">Thông tin về TAA ở đâu?</p>
              <hr class="mt-12">
              <p class="mt-12">Chính sách bảo hành của TAA như thế nào?</p>
            </article>
          </div>
        </div>
      </section>

      <section id="reason" class="mt-64">
        <div class="container">
          <h1 class="section__title display-medium">
            Tại sao nên mua sắm trên TAA?
          </h1>
          <div class="section__content mt-12 row">
            <article class="article__item visible col-6 col-lg-3 col-sm-12">
              <h3 class="headline-small">20.000</h3>
              <p class="large-small">Người dùng</p>
            </article>
            <article class="article__item visible col-6 col-lg-3 col-sm-12">
              <h3 class="headline-small">6.800</h3>
              <p class="large-small">Đối tác</p>
            </article>
            <article class="article__item visible col-6 col-lg-3 col-sm-12">
              <h3 class="headline-small">30.000+</h3>
              <p class="large-small">Sản phẩm</p>
            </article>
            <article class="article__item visible col-6 col-lg-3 col-sm-12">
              <h3 class="headline-small">24/7</h3>
              <p class="large-small">Hỗ trợ tuyệt vời</p>
            </article>
          </div>
        </div>
      </section>

      <section class="full-width mt-64 group__about">
        <img class="group__img" src="/imgs/banners/TAA.png" alt="group img">
      </section>
    </main>

    <div class="mt-36"></div>
    <%- include('../../partials/footer') %>
  </div>
  <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
  <script type='module' src="/scripts/modules/main.js"></script>
  <script src="/scripts/pages/site/homepage.js"></script>
</body>

</html>