body {
    background-color: #F1EFE7;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
    line-height: 64px;
}

h2,
p {
    margin: 0;
}

ol,
ul,
{
margin-top: 0;
}

ol ul li {
    list-style-type: disc;
}