body {
  text-align: justify;
}

h1.section__title {
  text-align: center;
  font-weight: bold;

  margin-bottom: 12px;
}

h2.section__title {
  margin-top: 12px;

  text-align: left;

  counter-increment: h2-counter;

  &::before {
    content: "Bước " counter(h2-counter) ": ";
  }
}

h3.section__title {
  margin-top: 8px;

  counter-increment: h3-counter;

  &::before {
    content: counter(h3-counter) ". ";
  }
}

:has(ol, ul) li {
  list-style-position: inside;
}