.table {
  height: auto;
  overflow: hidden;

  & .thead {
    /* height: 4rem; */

    & span {
      line-height: 4rem;
      text-align: center;
    }
  }

  & .tbody {
    & .tr {
      /* height: 10rem; */
      padding-block: .5rem;
      align-items: center;

      & .item__img {
        width: 100%;
      }

      & .center {
        text-align: center;
        display: flex;
        justify-content: center;
      }
    }

    & .table__noti {
      text-align: center;
    }
  }
}

.detail__context {
  text-align: right;
}

.item-quantity__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  & .value--ctl {
    font-size: 1.25rem;
    max-height: 1.25rem;
    cursor: pointer;
    padding: 0;
  }

  & input {
    width: auto;
    padding: 0;
  }
}

.item--prices {
  text-align: right;
}

.item--price-before {
  text-decoration: line-through;
}


aside {
  & .row {
    padding: 12px;
    min-height: 4rem;

    &:first-child {
      height: 4rem;
    }
  }
}

.detail__title {
  text-align: left;
}

.detail__context {
  text-align: right;
}

.row__flex {
  padding: 1rem;
}