.table {
  height: auto;
  overflow: hidden;

  & .thead {
    height: 4rem;

    & span {
      line-height: 4rem;
    }
  }

  & .tbody {
    & .tr {
      /* height: 10rem; */
      padding-block: .5rem;
      align-items: center;

      & .item__img {
        width: 100%;
      }
    }

    & .table__noti {
      text-align: center;
    }
  }
}

/* table {
  border-spacing: 0px;
  border: 0px;

  width: 100%;
}

thead {
  & tr {
    height: 60px;
  }
}

tbody {
  & tr {
    & img {
      height: 96px;
      aspect-ratio: 1/1;
    }

    & button {
      margin: 0 auto;
    }
  }
} */

.detail__context {
  text-align: right;
}

/* td {
  text-align: right;
} */

span[class*="cost_value"] {
  text-align: right;

  &::after {
    content: "đ";
    padding-left: 4px;
  }
}

.item--prices {
  text-align: right;
}

.item--price-before {
  text-decoration: line-through;
}


aside {
  & .row {
    padding: 12px;
    min-height: 40px;

    &:first-child {
      height: 60px;
    }
  }
}

.detail__title {
  text-align: left;
}

.detail__context {
  text-align: right;
}

.row__flex {
  display: flex;
  align-items: center;

  padding: 1rem;

  &.end {
    justify-content: flex-end;
  }
}