.nav-tab {
  padding-block: 12px;
  transition: 0ms;

  & .nav-tab__item {
    transition: inherit;
    width: 100%;
    height: 40px;
    padding-inline: 12px;
    display: inline-flex;
    gap: 8px;

    align-items: center;

    list-style: none;
    cursor: pointer;
    white-space: nowrap;

    &.active {
      transition: inherit;
      border-left: 4px solid var(--md-sys-color-primary);
      padding-inline: 8px;
      font-weight: bold;
    }
  }
}

.hidden {
  display: none;
}

.section__info {
  padding: 24px;
}

article.section__content {
  padding: 24px;
}

.section__content {
  position: relative;
}

.section__btn {
  position: absolute;
  top: 24px;
  right: 24px;
}

.input__wrapper {
  position: relative;
  display: inline-block;

  & .icon {
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
  }

  & input {
    width: 100%;
  }
}

.input__wrapper-child::placeholder {
  color: black;
}

.input__wrapper span {
  cursor: pointer;
}

.input__wrapper input[readonly]:focus {
  border: 1px solid var(--md-sys-color-outline);
  outline: none;
}

.bank-item {
  border-radius: 1rem;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.bank-item__wrapper {
  padding: 1rem;
  position: relative;
  height: 6.5rem;
}

.row__name-bank {
  white-space: nowrap;
}

.bank-item__btn--del {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 1rem;
  border-radius: 0.75rem !important;
  background: var(--md-ref-palette-primary95);
}

.location-item {
  border-radius: 1rem;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.location-item__wrapper {
  padding: 12px 12px 27px 12px;
  position: relative;
  /* height: 80px; */
}

.location-btns__wrapper {
  position: absolute;

  display: inline-block;

  top: 12px;
  right: 12px;
  bottom: 12px;

  width: 100%;
}

.location-item__btn--del {
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 8px !important;
  background: var(--md-ref-palette-primary95);
}

.location-item__btn--default {
  position: absolute;
  bottom: 0;
  right: 0;
}

.location-item__btn--edit {
  position: absolute;
  top: 0;
  right: 60px;
}

.button--edit {
  border-radius: 8px;
  display: flex;
  align-items: center;
  padding: 5px 10px;
  background-color: var(--md-ref-palette-primary100);
  border: none;
  color: var(--m-3-sys-light-outline, #857373);
}

.button--edit span {
  font-size: 22px;
  padding: 12px;
}

.shipping-details p {
  margin-left: 12px;
}

.delete-edit-wrap-icon {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.icon-wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-top: 12px;
}

.mr-8 {
  margin-right: 8px;
}

.bold {
  font-weight: bold;
}

/* .aside {
  margin-right: 10px;
} */

.aside__list {
  margin: 0;
  list-style-type: none;
  padding: 12px 0;
}

.aside__list .title {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
}

.aside__item span {
  height: 36px;
  line-height: 36px;
}

/* .aside__list,
span {
  /* display: block; 
  color: #000;
} */

.aside__item,
.aside__item__sub-menu {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.aside__header {
  display: block;
  padding: 0 0 0 36px;
}

.aside__item:hover .aside__header {
  background-color: #c5c5c5;
}

.aside__item.active:hover .aside__header {
  background-color: transparent;
}

.aside__item__sub-menu {
  /* display: none; */
  overflow: hidden;
  max-height: 0;
  -webkit-transition: all 0.5s ease-out;
  margin-left: calc(36px + 24px);
  /* &.active {
        display: block;
    } */
}

.aside__item.active {
  & .aside__header {
    border-left: 4px solid var(--md-sys-color-primary);
    padding: 0 0 0 32px;
  }

  & .aside__item__sub-menu {
    max-height: 300px;
  }
}

/* .aside__list li:hover .aside__item__sub-menu{
    display: block;
    max-height: 200px;
} */

.aside__item__title {
  display: flex;
  align-items: center;
  justify-content: start;
  pointer-events: none;
  /* margin-left: 18px; */
}

.aside__item:nth-child(n + 2) {
  /* padding-left: 36px; */
}

.icon-menu {
  display: flex;
  justify-content: center;
  text-align: center;
  height: 36px;
  width: 36px;
}

.product__filter {
  display: flex;
  gap: 10px;
  padding: 10px;
  align-items: center;
  flex: 1 0 0;
  margin-bottom: 12px;
}

.section__content {
  padding: 0;
}

.product__button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px 16px;
  border-radius: 8px;
  border: solid 1px #524343;
  height: 32px;
  background-color: #fff;
}

.product__button:last-child {
  padding: 6px 16px 6px 8px;
  position: relative;
}

.icon-check {
  display: none;
}

.product__button.effect {
  /* background-color: var(--md-sys-color-primary); */
  border: none;
  background-color: var(--md-sys-color-secondary-container);
  padding: 6px 16px 6px 8px;

  & .icon-check {
    display: block;
  }
}

.btn--filled {
  color: #fff;
  background-color: var(--md-sys-color-primary);

  & .icon-down {
    color: #fff;
  }
}

.dropdown {
  min-width: 16.1rem;
  position: relative;
  /* margin: 2em; */
}

.dropdown * {
  box-sizing: border-box;
}

.select {
  background: #fff;
  color: var(--md-sys-color-primary);
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  width: 72px;
}

.select-clicked {
  border: solid 1px var(--md-sys-color-primary);
  min-width: 16.1rem;
}

.select:hover {
  cursor: pointer;
  box-shadow:
    0px 1px 2px 0px rgba(0, 0, 0, 0.2),
    0px 1px 3px 1px rgba(0, 0, 0, 0.2);
}

.icon-cancel {
  display: none;
  z-index: 1;
}

.caret {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 6px solid var(--md-sys-color-primary);
  transition: 0.3s;
}

.caret-rotate {
  transform: rotate(180deg);
}

.menu {
  list-style: none;
  background: #fff;
  border: 1px solid var(--md-sys-color-primary);
  box-shadow: 0 0.5rem 1rem rbga(0, 0, 0, 0.2);
  border-radius: 0.5rem;
  color: var(--md-sys-color-primary);
  position: absolute;
  top: 3em;
  left: 96px;
  min-width: 16.1rem;
  transform: translateX(-50%);
  opacity: 0;
  display: none;
  transition: 0.2s;
  z-index: 2;
}

.menu li {
  padding: 0 0 0 16px;
  margin: 0.3rem 0;
  cursor: pointer;
  height: 36px;
  line-height: 36px;
}

.menu li:hover {
  background: #c5c5c5;
}

.select__active {
  background: #fff;
}

.select.select__btn {
  width: 16.1rem;

  & .icon-cancel {
    display: block;
  }

  border: none;
  background-color: var(--md-sys-color-secondary-container);
  padding: 6px 8px 6px 8px;

  & .caret {
    display: none;
  }

  & .icon-check {
    display: block;
  }
}

.menu-open {
  display: block;
  opacity: 1;
}

.select.cancel__select {
  color: var(--md-sys-color-primary);
  border: 1px solid var(--md-sys-color-primary);
  background: #fff;
  width: 72px;
  padding: 6px 16px;

  & .icon-cancel {
    display: none;
  }

  & .icon-check {
    display: none;
  }

  & .caret {
    display: block;
  }
}

/* Order */
.order-content-list {
  display: flex;
  padding: 1rem;
}

.order__item {
  width: 100%;
  display: flex;
  gap: 12px;
  justify-content: space-between;
}

.order__item .order__img {
  width: 157px;
  height: 157px;
}

.order__item-content {
  display: flex;
  flex-direction: column;
  width: 375px;
  gap: 12px;
}

.order__item-att {
  display: flex;
  justify-content: space-between;
}

.item_att_price_content,
.att_totalRate {
  text-align: end;
}

.base-price-p {
  text-decoration: line-through;
}

.order__item-content button.btn--outlined {
  width: 104px;
  height: 40px;
  font-weight: 500;
  align-self: flex-end;
  border: 1px solid #785b5b;
}

.item__status button.item_repurchase {
  width: 80%;
  height: 40px;
  font-weight: 500;
}

.item__status {
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.item__status p {
  color: black;
}

.item__status .status-green {
  color: green;
}

#section2 hr {
  width: 97%;
  margin: 0 auto;
}
.modal__context {
  text-align: center;
}

.modal-review {
  margin: 50px auto;
  width: 770px;
  height: 850px;
  padding: 60px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  background-color: #f1efe7;
  border-radius: 12px;
  font-family: Roboto;
  font-size: 16px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  position: relative;
}

.modal__title {
  font-size: 32px;
  text-align: center;
}

.modal__product {
  width: 100%;
  display: flex;
  flex-direction: row;
  font-size: 22px;
  gap: 12px;
}

.modal__product img {
  border-radius: 4px;
}

.modal__quality,
.modal__service {
  display: flex;
  gap: 12px;
  align-items: flex-start;
  font-weight: 500;
  font-size: 16px;
  justify-content: center;
}

.modal__quality > span,
.modal__service > span {
  width: 160px;
}

.modal__product--cover {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.modal__product img {
  width: 74px;
  height: 74px;
}

.modal__form-review {
  background-color: white;
  padding: 12px;
  border-radius: 8px;
  border: none;
  width: 100%;
  height: 362px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.modal__form-review-textarea {
  resize: none;
  width: 100%;
  height: 273px;
  padding: 10px 16px;
  border-radius: 8px;
}

.modal__form-review-border input {
  border: none;
  background-color: transparent;
}

.modal__form-review-border {
  width: 100%;
}

.star-icon {
  color: gray;
  cursor: pointer;
  font-size: 24px;
}

.star-icon:hover,
.star-icon.active {
  color: #ffdd55;
  font-variation-settings: "FILL" 1;
}

.star-icon-service {
  color: gray;
  cursor: pointer;
  font-size: 24px;
}

.star-icon-service:hover,
.star-icon-service.active {
  color: #ffdd55;
  font-variation-settings: "FILL" 1;
}

.energy-review {
  width: 100%;
  text-align: end;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}

input#checkbox1 {
  width: 24px;
  height: 24px;
  accent-color: var(--md-sys-color-primary);
}

.modal__checkbox-form {
  display: flex;
  align-items: center;
  gap: 12px;
}

.modal__checkbox-form div {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.modal__view-name-account {
  font-size: 16px;
  font-weight: 500;
}

.modal__check-name-account {
  font-size: 12px;
  font-weight: 400;
}

.review-start {
  display: flex;
  justify-content: space-between;
}

.section__content#change-password {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Change-password */
#modal--change-password .modal__title {
  text-align: center;
}

.re-type-password {
  white-space: nowrap;
}

.change-password-accept {
  display: flex;
  justify-content: flex-end;
}

span.status-layer {
  align-items: center;
  white-space: nowrap;
}

.form-wrapper__change-password {
  padding: 24px 24px 24px 52px;
}

#shipping-address .row {
  white-space: nowrap;
}

.btn--outlined .filled-default {
  border: none;
}

.filled-default {
  display: flex;
  /* margin: 0 auto; */
  align-items: center;
  border: none;
  font-size: 24px;
  font-weight: 500;
  color: var(--md-sys-color-primary) !important;
}

.unfilled-default {
  display: flex;
  /* margin: 0 auto; */
  align-items: center;
}

.full-edit {
  padding-inline: 1rem 0.75rem !important;
}

.item__status button.item_repurchase span {
  min-height: unset;
}

.picture3 {
  /* width: 100%;
  height: 180px; */
  max-width: 100%;
  margin-top: 20px;
  object-fit: cover;
}

@media only screen and (min-width: calc(576px + 1px)) and (max-width: 768px) {
  main {
    /* & > section {
      padding: 0 1rem;
    } */
  }

  /* .container {
    display: flex;
    flex-direction: column;
  } */
  .nav-tab {
    /* width: 100%; */
  }

  .form__row .row label {
    font-size: 14px;
    font-weight: 400;
    white-space: nowrap;
  }

  .headline-large,
  .headline-medium {
    font-size: 24px;
    font-weight: 400;
    white-space: nowrap;
  }

  .body-medium {
    /* font-size: 14px; */
  }

  .status-layer {
    /* height: 3rem; */
    padding: 0 1rem;
    align-items: center;
  }

  button.location-item__btn--default {
    font-size: 14px;
  }

  .change-password-btn {
    width: 50%;
  }

  .section__info {
    padding: 1rem;
  }

  article.section__content {
    padding: 1rem;
  }

  input {
    /* height: 3rem !important; */
    border-radius: 0.75rem;
    border: 1px solid var(--md-sys-color-outline);
    /* padding: 0 0.25rem; */
    background-color: transparent;
  }

  /* .section__content#change-password {
    display: flex;
  } */

  .section__btn {
    position: absolute;
    top: 4px;
    right: 4px;
  }

  /* .status-layer .full-edit {
    opacity: 0;
  } */

  .location-item__btn--default {
    width: 130px;
  }

  .location-item__btn--edit {
    width: 70px;
  }

  /* button.btn-icon {
    width: 40px;
  } */

  span.status-layer.full-edit.label {
    display: none;
  }
}

@media only screen and (max-width: 576px) {
  /* main {
    &>section {
      padding: 0 1rem;
    }
  } */

  /* .container {
    display: flex;
    flex-direction: column;
  } */

  /* .nav-tab {
    width: 100%;
  } */

  /* .form__row .row label {
    font-size: 14px;
    font-weight: 400;
    white-space: nowrap;
  } */

  .headline-large,
  .headline-medium {
    font-size: 24px;
    font-weight: 400;
    white-space: nowrap;
  }

  .body-medium {
    font-size: 14px;
  }

  .status-layer {
    /* height: 3rem;
    padding: 0 1rem; */
    align-items: center;
  }

  button.location-item__btn--default {
    font-size: 14px;
  }

  .change-password-btn {
    width: 100%;
  }

  .section__info {
    padding: 1rem;
  }

  article.section__content {
    padding: 1rem;
  }

  input {
    /* height: 3rem !important; */
    border-radius: 0.75rem;
    border: 1px solid var(--md-sys-color-outline);
    /* padding: 0 0.25rem; */
    background-color: transparent;
  }

  .section__content#change-password {
    align-items: unset;
    gap: 1rem;
    flex-direction: column;
  }

  .section__btn {
    position: absolute;
    top: 4px;
    right: 4px;
  }

  /* .status-layer .full-edit {
    opacity: 0;
  } */

  .location-item__btn--default {
    width: 130px;
  }

  .location-item__btn--edit {
    width: 70px;
  }

  /* button.btn-icon {
    width: 40px;
  } */

  span.status-layer.full-edit.label {
    display: none;
  }

  .modal__content {
    padding: 2rem;
  }

  .form-wrapper__change-password {
    padding: 24px 18px 24px 70px;
  }

  .order-content-list {
    display: flex;
    padding: 1rem;
    flex-direction: column;
  }

  .order__img {
    width: 157px;
    height: 157px;
  }

  .order__item {
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  .order__item-content {
    width: 60%;
    white-space: nowrap;
  }

  .order__item-content-name {
    white-space: wrap;
  }

  .item__status {
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
    width: 18%;
    gap: 5rem;
  }

  .item__status p {
    width: 100%;
    padding: 0;
    margin: 0;
    font-size: 16px;
    text-align: center;
  }

  .order__item-att {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
}
