.nav-tab {
  padding-block: 12px;
  transition: 0ms;

  & .nav-tab__item {
    transition: inherit;
    width: 100%;
    height: 40px;
    padding-inline: 12px;
    display: inline-flex;
    gap: 8px;

    align-items: center;

    list-style: none;
    cursor: pointer;

    &.active {
      transition: inherit;
      border-left: 4px solid var(--md-sys-color-primary);
      padding-inline: 8px;
      font-weight: bold;
    }
  }
}
.hidden {
  display: none;
}
.section__info {
  padding: 24px;
}

article.section__content {
  padding: 24px;
}
.section__content {
  position: relative;
}

.section__btn {
  position: absolute;
  top: 24px;
  right: 24px;
}
.input__wrapper {
  position: relative;
  display: inline-block;

  & .icon {
    position: absolute;
    right: 4px;
    top: 50%;
    transform: translateY(-50%);
  }

  & input {
    width: 100%;
  }
}

.input__wrapper-child::placeholder {
  color: black;
}

.input__wrapper span {
  cursor: pointer;
}

.input__wrapper input[readonly]:focus {
  border: 1px solid var(--md-sys-color-outline);
  outline: none;
}

.bank-item {
  border-radius: 12px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.bank-item__wrapper {
  padding: 12px;
  position: relative;
  height: 80px;
}
.row__name-bank {
  white-space: nowrap;
}

.bank-item__btn--del {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 12px;
  border-radius: 8px !important;
  background: var(--md-ref-palette-primary95);
}

.location-item {
  border-radius: 12px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.location-item__wrapper {
  padding: 12px;
  position: relative;
  /* height: 80px; */
}

.location-btns__wrapper {
  position: absolute;

  display: inline-block;

  top: 12px;
  right: 12px;
  bottom: 12px;

  width: 100%;
}

.location-item__btn--del {
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 8px !important;
  background: var(--md-ref-palette-primary95);
}

.location-item__btn--default {
  position: absolute;
  bottom: 0;
  right: 0;
}

.location-item__btn--edit {
  position: absolute;
  top: 0;
  right: 60px;
}

.button--edit {
  border-radius: 8px;
  display: flex;
  align-items: center;
  padding: 5px 10px;
  background-color: var(--md-ref-palette-primary100);
  border: none;
  color: var(--m-3-sys-light-outline, #857373);
}

.button--edit span {
  font-size: 22px;
  padding: 12px;
}

.shipping-details p {
  margin-left: 12px;
}

.delete-edit-wrap-icon {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.icon-wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-top: 12px;
}

.mr-8 {
  margin-right: 8px;
}

.bold {
  font-weight: bold;
}

/* .aside {
  margin-right: 10px;
} */

.aside__list {
  margin: 0;
  list-style-type: none;
  padding: 12px 0;
}

.aside__list .title {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
}

.aside__item span {
  height: 36px;
  line-height: 36px;
}

/* .aside__list,
span {
  /* display: block; 
  color: #000;
} */

.aside__item,
.aside__item__sub-menu {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.aside__header {
  display: block;
  padding: 0 0 0 36px;
}

.aside__item:hover .aside__header {
  background-color: #c5c5c5;
}

.aside__item.active:hover .aside__header {
  background-color: transparent;
}

.aside__item__sub-menu {
  /* display: none; */
  overflow: hidden;
  max-height: 0;
  -webkit-transition: all 0.5s ease-out;
  margin-left: calc(36px + 24px);
  /* &.active {
        display: block;
    } */
}

.aside__item.active {
  & .aside__header {
    border-left: 4px solid var(--md-sys-color-primary);
    padding: 0 0 0 32px;
  }

  & .aside__item__sub-menu {
    max-height: 300px;
  }
}

/* .aside__list li:hover .aside__item__sub-menu{
    display: block;
    max-height: 200px;
} */

.aside__item__title {
  display: flex;
  align-items: center;
  justify-content: start;
  pointer-events: none;
  /* margin-left: 18px; */
}

.aside__item:nth-child(n + 2) {
  /* padding-left: 36px; */
}

.icon-menu {
  display: flex;
  justify-content: center;
  text-align: center;
  height: 36px;
  width: 36px;
}

.product__filter {
  display: flex;
  gap: 10px;
  padding: 10px;
  align-items: center;
  flex: 1 0 0;
  margin-bottom: 12px;
}

.section__content {
  padding: 0;
}

.product__button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px 16px;
  border-radius: 8px;
  border: solid 1px #524343;
  height: 32px;
  background-color: #fff;
}

.product__button:last-child {
  padding: 6px 16px 6px 8px;
  position: relative;
}

.icon-check {
  display: none;
}

.product__button.effect {
  /* background-color: var(--md-sys-color-primary); */
  border: none;
  background-color: var(--md-sys-color-secondary-container);
  padding: 6px 16px 6px 8px;

  & .icon-check {
    display: block;
  }
}

.btn--filled {
  color: #fff;
  background-color: var(--md-sys-color-primary);

  & .icon-down {
    color: #fff;
  }
}

.dropdown {
  min-width: 16.1rem;
  position: relative;
  /* margin: 2em; */
}

.dropdown * {
  box-sizing: border-box;
}

.select {
  background: #fff;
  color: var(--md-sys-color-primary);
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  width: 72px;
}

.select-clicked {
  border: solid 1px var(--md-sys-color-primary);
  min-width: 16.1rem;
}

.select:hover {
  cursor: pointer;
  box-shadow:
    0px 1px 2px 0px rgba(0, 0, 0, 0.2),
    0px 1px 3px 1px rgba(0, 0, 0, 0.2);
}

.icon-cancel {
  display: none;
  z-index: 1;
}

.caret {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 6px solid var(--md-sys-color-primary);
  transition: 0.3s;
}

.caret-rotate {
  transform: rotate(180deg);
}

.menu {
  list-style: none;
  background: #fff;
  border: 1px solid var(--md-sys-color-primary);
  box-shadow: 0 0.5rem 1rem rbga(0, 0, 0, 0.2);
  border-radius: 0.5rem;
  color: var(--md-sys-color-primary);
  position: absolute;
  top: 3em;
  left: 96px;
  min-width: 16.1rem;
  transform: translateX(-50%);
  opacity: 0;
  display: none;
  transition: 0.2s;
  z-index: 2;
}

.menu li {
  padding: 0 0 0 16px;
  margin: 0.3rem 0;
  cursor: pointer;
  height: 36px;
  line-height: 36px;
}

.menu li:hover {
  background: #c5c5c5;
}

.select__active {
  background: #fff;
}

.select.select__btn {
  width: 16.1rem;

  & .icon-cancel {
    display: block;
  }

  border: none;
  background-color: var(--md-sys-color-secondary-container);
  padding: 6px 8px 6px 8px;

  & .caret {
    display: none;
  }

  & .icon-check {
    display: block;
  }
}

.menu-open {
  display: block;
  opacity: 1;
}

.select.cancel__select {
  color: var(--md-sys-color-primary);
  border: 1px solid var(--md-sys-color-primary);
  background: #fff;
  width: 72px;
  padding: 6px 16px;

  & .icon-cancel {
    display: none;
  }

  & .icon-check {
    display: none;
  }

  & .caret {
    display: block;
  }
}

/* item product */
.product__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 12px;
  min-width: 247px;
  background-color: #fff;
}

.product__image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 204px;
  width: 100%;
}

.product__item:hover {
  & .product__button__section {
    display: flex;
  }

  & .product__stock {
    display: none;
  }

  box-shadow:
    0px 1px 3px 0px rgba(0, 0, 0, 0.3),
    0px 4px 8px 3px rgba(0, 0, 0, 0.15);
  /* max-height: fit-content; */
}

.product__image img {
  /* display: block; */
  position: absolute;
  width: 100%;
  height: 204px;
  object-fit: cover;
  padding: 12px;
  --webkit--transition: opacity 0.1s ease-in-out;
  -moz-animation: opacity 0.1s ease-in-out;
  -ms-transition: opacity 0.1s ease-in-out;
  -o-transition: opacity 0.1s ease-in-out;
  transition: opacity 0.1s ease-in-out;
}

.product__item:hover .product__image .img_font {
  opacity: 0;
}

.product__button__section {
  display: flex;
  align-items: center;
  background-color: #cfc1c1;
  width: 100%;
  height: 35px;
  justify-content: space-around;
  border-radius: 0px 0px 8px 8px;
  background: var(--m-3-sys-light-primary, #785b5b);
  cursor: pointer;
  display: none;
}

.vertical {
  width: 1px;
  height: 24px;
  background-color: #fff;
}

.product__button__view,
.product__button__sell {
  color: #fff !important;
  display: block;
  border-radius: 0;
  /* border-bottom-left-radius: 8px; */
  width: 100%;
  height: 35px;
  text-align: center;
  line-height: 35px;
  cursor: pointer;
}

.product__button__sell a {
  color: #fff;
  text-decoration: none;
}

.product__body {
  text-align: center;
}

.product__price {
  display: flex;
  justify-content: center;
  /* margin: 8px 0; */
}

.product__price__current {
  margin-right: 8px;
  font-weight: bold;
}

.product__price__discount {
  text-decoration: line-through;
}

.product__discount {
  font-weight: bold;
  margin-bottom: 16px;
}

.product__stock {
  font-weight: 500;
  line-height: 2rem;
  padding: 0px 42px 11px 42px;
}

/* item san pham het hang */
.product__outstock {
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 12px;
  min-width: 247px;
  background: var(--m-3-state-layers-dark-surface-dim-opacity-016, rgba(20, 18, 24, 0.16));
}

/* Chi tiet san pham */
.modal-product {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  /* can chinh giua overlay */
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* Can hien len thi display: flex */
  /* display: flex; */
  display: none;
}

.modal-product.open {
  display: flex;
  /* z-index: 1; */
}

.modal-container--product {
  display: flex;
  padding: 32px;
  gap: 32px;
  background-color: #fff;
  width: 1024px;
  max-height: 906px;
  position: relative;
  animation: modalFadeIn ease 0.2s;
}

.modal__img {
  display: flex;
  height: 842px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

/* .img__main {
  display: flex;
  width: 488px;
  height: 695px;
  border-radius: 8px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  background: url('/TAA_FE/public/product2.jpg'), lightgray 50% / cover no-repeat;
} */

.modal__img img {
  width: 100%;
  display: block;
}

.img-display {
  overflow: hidden;
}

.img-showcase {
  display: flex;
  width: 100%;
  transition: all 0.5s ease;
}

.img-showcase img {
  min-width: 100%;
  height: 695px;
  object-fit: cover;
  border-radius: 8px;
}

.img-select {
  display: flex;
}

.img-item {
  margin: 12px;
  width: 113px;
  height: 113px;
  object-fit: cover;
}

.img-item:first-child {
  margin-left: 0;
}

.img-item:last-child {
  margin-right: 0;
}

.img-item:nth-child(1),
.img-item:nth-child(2),
.img-item:nth-child(3) {
  margin-right: 0;
}

.img-item:hover {
  opacity: 0.8;
}

/* .modal__input-radio input {
  width: 20px;
  height: 20px;
  margin: 10px 5px 10px 5px;
  cursor: pointer;
}

.modal__input-radio input:hover {
  color: red;
}

input[type="radio"] {
  background-color: transparent;
  color: transparent;
  accent-color: pink;
}

input[type="radio"]:hover {
  accent-color: pink;
} */

.modal__body {
  display: flex;
  width: 442px;
  padding-top: 12px;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}

.modal__product__name {
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0.15px;
}

.modal__info__rate {
  display: flex;
  gap: 12px;
  padding: 0px 12px;
  align-items: center;
}

.modal__info__rate .rate__star {
  display: flex;
  align-items: center;
  color: var(--m-3-sys-light-error, #ba1a1a);
}

.modal__price {
  display: flex;
  width: 438px;
  height: 50px;
  padding: 5px 0px;
  justify-content: center;
  align-items: center;
  gap: 12px;
  border-radius: 4px;
  background: var(--m-3-sys-light-on-primary, #f1efe7);
}

.modal__price .cost {
  text-decoration: line-through;
}

.modal__price .cost__discount {
  color: var(--m-3-sys-light-error, #ba1a1a);
}

.modal__price .percent__discount {
  color: #fff;
  border-radius: 5px;
  background: var(--m-3-sys-light-error, #ba1a1a);
  padding: 0px 6px;
}

.modal__color,
.modal__size {
  display: flex;
  align-items: center;
  gap: 20px;
}

.modal__color .color__value,
.modal__size .size__value {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 32px;
  width: 110px;
  border-radius: 32px;
  border: 1px solid var(--m-3-sys-light-outline, #857373);
  padding: 6px 16px;
}

.modal__color .color__value {
  margin-left: 14px;
}

.modal__quantity {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.modal__quantity .quantity__stock {
  display: flex;
  justify-content: center;
  align-items: center;
  /* line-height: 20px; */
}

.modal__quantity .quantity__product {
  display: flex;
  align-items: center;
  padding: 4px 0px;
  justify-content: center;
  /* border: none; */
  width: 105px;
  height: 32px;
  border-radius: 8px;
  border: 1px solid var(--m-3-sys-light-outline, #857373);
  margin-left: 24px;
}

.quantity__product input {
  margin-top: -2px;
}

input[type="number"] {
  -moz-appearance: textfield;
  text-align: center;
  border: none;
  width: 40px;
  height: 32px;
  color: var(--m-3-sys-light-outline);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.quantity__product .quantity__product-decrement,
.quantity__product .quantity__product-increment {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
  width: 32px;
  height: 32px;
}

.modal__button {
  display: flex;
  width: 442px;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
}

.modal__button .button__cart {
  display: flex;
  padding: 10px;
  height: 40px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  color: #9c4048;
  border: 1px solid #9c4048;
  background: var(--m-3-ref-primary-primary-95, #ffedec);
}

.modal__button .button__view {
  height: 40px;
  /* padding: 10px 40px; */
}

.button__view a {
  padding: 10px 40px;
  text-decoration: none;
  color: #fff;
}

.modal__context {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.modal__context .context__info__body {
  margin-left: 20px;
}

.modal__context .context__detail__body li {
  list-style-type: none;
}

/* modal noti */
.modal-noti {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  align-items: center;
  justify-content: center;
  display: none;
  flex-direction: column;
}

.modal-noti.active {
  display: flex;
}

.modal-noti.hidden {
  display: none;
}

.modal-container--noti {
  display: inline-flex;
  padding: 60px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
  border-radius: 12px;
  background-color: var(--m-3-sys-light-primary, #785b5b);
  min-width: 714px;
  min-height: 360px;
  position: relative;
  animation: modalFadeIn ease 0.2s;
}

.modal-noti .noti__icon-check {
  display: flex;
  width: 64px;
  height: 64px;
  justify-content: center;
  align-items: center;
}

.noti__icon-check span {
  font-size: 64px;
}

.modal-noti .noti__btn {
  color: var(--md-sys-color-surface-variant-light);
}

@keyframes modalFadeIn {
  from {
    opacity: 0;
    transform: translateY(-140px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.btn--close {
  position: absolute;
  top: 24px;
  right: 25px;
  color: #aaa;
  font-size: 24px;
  line-height: 24px;
  width: 24px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
}
/* Order */
.order__item {
  display: flex;
  padding: 12px;
  gap: 12px;
  justify-content: space-between;
}
.order__item-content {
  display: flex;
  flex-direction: column;
  width: 375px;
  gap: 12px;
}

.order__item-att {
  display: flex;
  justify-content: space-between;
}
.item_att_price_content,
.att_totalRate {
  text-align: end;
}

.base-price-p {
  text-decoration: line-through;
}

.order__item-content button.btn--outlined {
  width: 104px;
  height: 40px;
  font-weight: 500;
  align-self: flex-end;
  border: 1px solid #785b5b;
}

.item__status button.item_repurchase {
  width: 161px;
  height: 40px;
  font-weight: 500;
}

.item__status {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.item__status p {
  color: rgb(17, 177, 17);
}

#section2 hr {
  width: 97%;
  margin: 0 auto;
}

.modal-review {
  margin: 50px auto;
  width: 770px;
  height: 850px;
  padding: 60px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  background-color: #f1efe7;
  border-radius: 12px;
  font-family: Roboto;
  font-size: 16px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  position: relative;
}

.modal__title {
  font-size: 32px;
  text-align: center;
}

.modal__product {
  width: 100%;
  display: flex;
  flex-direction: row;
  font-size: 22px;
  gap: 12px;
}

.modal__product img {
  border-radius: 4px;
}

.modal__quality,
.modal__service {
  display: flex;
  gap: 12px;
  align-items: flex-start;
  font-weight: 500;
  font-size: 16px;
  justify-content: center;
}

.modal__quality > span,
.modal__service > span {
  width: 160px;
}

.modal__product--cover {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.modal__product img {
  width: 74px;
  height: 74px;
}
.modal__form-review {
  background-color: white;
  padding: 12px;
  border-radius: 8px;
  border: none;
  width: 650px;
  height: 362px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.modal__form-review-textarea {
  resize: none;
  width: 590px;
  height: 273px;
  padding: 10px 16px;
  border-radius: 8px;
  margin-left: 13px;
  margin-top: 12px;
  margin-bottom: 12px;
}

.modal__form-review-border input {
  border: none;
  background-color: transparent;
}
.star-icon {
  color: gray;
  cursor: pointer;
  font-size: 24px;
}

.star-icon:hover,
.star-icon.active {
  color: #ffdd55;
  font-variation-settings: "FILL" 1;
}

.star-icon-service {
  color: gray;
  cursor: pointer;
  font-size: 24px;
}

.star-icon-service:hover,
.star-icon-service.active {
  color: #ffdd55;
  font-variation-settings: "FILL" 1;
}
.energy-review {
  width: 100%;
  text-align: end;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}

input#checkbox1 {
  width: 24px;
  height: 24px;
  accent-color: var(--md-sys-color-primary);
}

.modal__checkbox-form {
  display: flex;
  align-items: center;
  gap: 12px;
}
.modal__checkbox-form div {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.modal__view-name-account {
  font-size: 16px;
  font-weight: 500;
}

.modal__check-name-account {
  font-size: 12px;
  font-weight: 400;
}

.review-start {
  display: flex;
  justify-content: space-between;
}

.section__content#change-password {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Change-password */
#modal--change-password .modal__title {
  text-align: center;
}
.re-type-password {
  white-space: nowrap;
}
.change-password-accept {
  display: flex;
  justify-content: flex-end;
}

.form-wrapper__change-password {
  padding: 24px 24px 24px 52px;
}

#shipping-address .row {
  white-space: nowrap;
}

@media only screen and (min-width: 430px) and (max-width: 744px) {
  .picture1 {
    width: 100%;
  }
  .col-3 {
    grid-column: span 4;
  }
}
@media only screen and (max-width: 430px) {
  .picture1 {
    width: 100%;
  }

  .picture-product {
    max-width: 195px;
    max-height: 195px;
  }
}
