a {
  text-decoration: none;
}

.section__title {
  text-align: center;
}

/* p {
  margin: 12px;
} */

.img1 {
  width: 100%;
  height: 768px;
}

.banner__img {
  width: 100%;
  height: 192px;
}

.news__item {
  display: flex;
}

.news__img {
  height: 100%;
  border-radius: 8px 0px 0px 8px;
}

.news__body {
  padding: 12px 12px 12px 0;
}

.article__title {
  font-weight: bold;
}

.article__context {
  text-align: justify;
  overflow: clip;
}