.pagination {
  & .container {
    padding: 0 1.5rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: .75rem;
  }

  & ul {
    display: flex;
    gap: .75rem;
    list-style-type: none;
  }

  & a {
    text-decoration: none;

    &:hover li {
      cursor: pointer;
      background-color: rgba(0, 0, 0, 0.2);
    }
  }

  & li {
    height: 4rem;
    width: 4rem;
    border-radius: .75rem;

    text-align: center;
    line-height: 4rem;
    font-weight: bold;

    color: var(--md-sys-color-primary);
    background-color: transparent;

    &.active {
      color: white;
      background-color: var(--md-sys-color-primary);
    }
  }
}