.icon {
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  /* display: inline-block; */
  border: none;
  border-radius: 8px;
  padding: 0;

  background-color: transparent;

  &:hover {
    cursor: pointer;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2),
      0px 1px 3px 1px rgba(0, 0, 0, 0.2);
  }

  & .status-layer {
    color: inherit;
    display: flex;
    justify-content: center;
    border-radius: inherit;
    min-height: 40px;
    padding: 0 24px;

    & span {
      /* display: block; */
      margin: auto;
    }
  }
}

button.full-width {
  width: 100%;

  & .status-layer {
    justify-content: center;
  }
}

button.btn-icon {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 48px;
  width: 48px;
  border-radius: 100%;

  padding: 0;

  overflow: hidden;

  & .status-layer {
    display: flex;
    height: inherit;
    width: inherit;
    padding: 0;
    border-radius: inherit;
  }

  &:hover {
    box-shadow: none;

    & .status-layer {
      background-color: rgba(0, 0, 0, 0.2);
    }
  }
}

button.btn--outlined {
  color: var(--md-sys-color-primary);

  & .status-layer {
    border: 1px solid var(--md-sys-color-primary);
  }
}

button.btn--filled {
  color: #fff;
  background-color: var(--md-sys-color-primary);
}

span.btn-radio {
  & input {
    display: none;

    &+label {
      & .btn-radio--unchecked {
        display: flex;
      }

      & .btn-radio--checked {
        display: none;
      }
    }

    &:checked+label {
      .btn-radio--unchecked {
        display: none !important;
      }

      .btn-radio--checked {
        display: flex !important;
      }
    }
  }
}


.search-bar {
  min-width: 256px;

  display: flex;
  justify-content: space-between;
  gap: 8px;
  align-items: center;
  height: 40px;
  padding: 0 2px 0 0;
  border-radius: 12px;
  border: 2px solid var(--md-sys-color-outline);

  & input {
    border: 0;

    &:focus {
      outline: none;
    }
  }

  & button.btn-icon {
    height: 32px;
    width: 32px;
    border-radius: 8px;

    & .status-layer {
      height: 32px;
      width: 32px;
    }
  }
}