button {
  border: none;
  border-radius: 8px;
  padding: 0;

  background-color: transparent;

  & .status-layer {
    border-radius: inherit;
    display: flex;
    align-items: center;
    height: 100%;
    min-height: 40px;
    padding: 0 24px;
  }

  &:hover {
    cursor: pointer;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2),
      0px 1px 3px 1px rgba(0, 0, 0, 0.2);
  }
}

button.btn--outlined {
  color: var(--md-sys-color-primary);

  & .status-layer {
    border: 1px solid var(--md-sys-color-primary);
    color: var(--md-sys-color-primary);
  }
}

button.btn--filled {
  color: #fff;
  background-color: var(--md-sys-color-primary);
}