/* Roboto Font */
@font-face {
  font-family: 'Roboto';
  src: url('/TAA_FE/res/fonts/Roboto/Roboto-Regular.ttf') format('truetype');
  style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('/TAA_FE/res/fonts/Roboto/Roboto-Medium.ttf') format('truetype');
  style: medium;
}

/* Playfair Display Font */
@font-face {
  font-family: 'Playfair Display';
  src: url('/TAA_FE/res/fonts/Playfair_Display/static/PlayfairDisplay-Regular.ttf') format('truetype');
  style: normal;
}