:root {
  --md-source: #785B5B;
  /* primary */
  --md-ref-palette-primary0: #000000;
  --md-ref-palette-primary5: #2C0005;
  --md-ref-palette-primary10: #40000A;
  --md-ref-palette-primary20: #5F131C;
  --md-ref-palette-primary25: #6E1E26;
  --md-ref-palette-primary30: #7E2A30;
  --md-ref-palette-primary35: #8D353B;
  --md-ref-palette-primary40: #9C4146;
  --md-ref-palette-primary50: #BB585D;
  --md-ref-palette-primary60: #DB7175;
  --md-ref-palette-primary70: #FB8B8E;
  --md-ref-palette-primary80: #FFB3B3;
  --md-ref-palette-primary90: #FFDAD9;
  --md-ref-palette-primary95: #FFEDEC;
  --md-ref-palette-primary98: #FFF8F7;
  --md-ref-palette-primary99: #FFFBFF;
  --md-ref-palette-primary100: #FFFFFF;
  /* secondary */
  --md-ref-palette-secondary0: #000000;
  --md-ref-palette-secondary5: #200A0B;
  --md-ref-palette-secondary10: #2C1516;
  --md-ref-palette-secondary20: #44292A;
  --md-ref-palette-secondary25: #503434;
  --md-ref-palette-secondary30: #5D3F3F;
  --md-ref-palette-secondary35: #6A4A4B;
  --md-ref-palette-secondary40: #775656;
  --md-ref-palette-secondary50: #916E6E;
  --md-ref-palette-secondary60: #AD8888;
  --md-ref-palette-secondary70: #C9A2A1;
  --md-ref-palette-secondary80: #E6BDBC;
  --md-ref-palette-secondary90: #FFDAD9;
  --md-ref-palette-secondary95: #FFEDEC;
  --md-ref-palette-secondary98: #FFF8F7;
  --md-ref-palette-secondary99: #FFFBFF;
  --md-ref-palette-secondary100: #FFFFFF;
  /* tertiary */
  --md-ref-palette-tertiary0: #000000;
  --md-ref-palette-tertiary5: #1A0F00;
  --md-ref-palette-tertiary10: #281800;
  --md-ref-palette-tertiary20: #422C05;
  --md-ref-palette-tertiary25: #4E370F;
  --md-ref-palette-tertiary30: #5B421A;
  --md-ref-palette-tertiary35: #684E24;
  --md-ref-palette-tertiary40: #755A2F;
  --md-ref-palette-tertiary50: #907245;
  --md-ref-palette-tertiary60: #AC8C5C;
  --md-ref-palette-tertiary70: #C8A674;
  --md-ref-palette-tertiary80: #E5C18D;
  --md-ref-palette-tertiary90: #FFDDAF;
  --md-ref-palette-tertiary95: #FFEEDB;
  --md-ref-palette-tertiary98: #FFF8F3;
  --md-ref-palette-tertiary99: #FFFBFF;
  --md-ref-palette-tertiary100: #FFFFFF;
  /* error */
  --md-ref-palette-error0: #000000;
  --md-ref-palette-error5: #2D0001;
  --md-ref-palette-error10: #410002;
  --md-ref-palette-error20: #690005;
  --md-ref-palette-error25: #7E0007;
  --md-ref-palette-error30: #93000A;
  --md-ref-palette-error35: #A80710;
  --md-ref-palette-error40: #BA1A1A;
  --md-ref-palette-error50: #DE3730;
  --md-ref-palette-error60: #FF5449;
  --md-ref-palette-error70: #FF897D;
  --md-ref-palette-error80: #FFB4AB;
  --md-ref-palette-error90: #FFDAD6;
  --md-ref-palette-error95: #FFEDEA;
  --md-ref-palette-error98: #FFF8F7;
  --md-ref-palette-error99: #FFFBFF;
  --md-ref-palette-error100: #FFFFFF;
  /* neutral */
  --md-ref-palette-neutral0: #000000;
  --md-ref-palette-neutral5: #15100F;
  --md-ref-palette-neutral10: #201A1A;
  --md-ref-palette-neutral20: #362F2F;
  --md-ref-palette-neutral25: #413A39;
  --md-ref-palette-neutral30: #4D4545;
  --md-ref-palette-neutral35: #595050;
  --md-ref-palette-neutral40: #655C5C;
  --md-ref-palette-neutral50: #7F7574;
  --md-ref-palette-neutral60: #998E8E;
  --md-ref-palette-neutral70: #B4A9A8;
  --md-ref-palette-neutral80: #D0C4C3;
  --md-ref-palette-neutral90: #ECE0DF;
  --md-ref-palette-neutral95: #FBEEED;
  --md-ref-palette-neutral98: #FFF8F7;
  --md-ref-palette-neutral99: #FFFBFF;
  --md-ref-palette-neutral100: #FFFFFF;
  /* neutral-variant */
  --md-ref-palette-neutral-variant0: #000000;
  --md-ref-palette-neutral-variant5: #190E0E;
  --md-ref-palette-neutral-variant10: #251819;
  --md-ref-palette-neutral-variant20: #3B2D2D;
  --md-ref-palette-neutral-variant25: #463838;
  --md-ref-palette-neutral-variant30: #524343;
  --md-ref-palette-neutral-variant35: #5F4F4E;
  --md-ref-palette-neutral-variant40: #6B5A5A;
  --md-ref-palette-neutral-variant50: #857373;
  --md-ref-palette-neutral-variant60: #A08C8C;
  --md-ref-palette-neutral-variant70: #BBA6A6;
  --md-ref-palette-neutral-variant80: #D7C1C1;
  --md-ref-palette-neutral-variant90: #F4DDDD;
  --md-ref-palette-neutral-variant95: #FFEDEC;
  --md-ref-palette-neutral-variant98: #FFF8F7;
  --md-ref-palette-neutral-variant99: #FFFBFF;
  --md-ref-palette-neutral-variant100: #FFFFFF;
  /* light */
  --md-sys-color-primary-light: #785B5B;
  --md-sys-color-on-primary-light: #F1EFE7;
  --md-sys-color-primary-container-light: #FFDAD9;
  --md-sys-color-on-primary-container-light: #40000A;
  --md-sys-color-primary-fixed-light: #FFDAD9;
  --md-sys-color-on-primary-fixed-light: #40000A;
  --md-sys-color-primary-fixed-dim-light: #FFB3B3;
  --md-sys-color-on-primary-fixed-variant-light: #7E2A30;
  --md-sys-color-secondary-light: #775656;
  --md-sys-color-on-secondary-light: #FFFFFF;
  --md-sys-color-secondary-container-light: #FFDAD9;
  --md-sys-color-on-secondary-container-light: #2C1516;
  --md-sys-color-secondary-fixed-light: #FFDAD9;
  --md-sys-color-on-secondary-fixed-light: #2C1516;
  --md-sys-color-secondary-fixed-dim-light: #E6BDBC;
  --md-sys-color-on-secondary-fixed-variant-light: #5D3F3F;
  --md-sys-color-tertiary-light: #755A2F;
  --md-sys-color-on-tertiary-light: #FFFFFF;
  --md-sys-color-tertiary-container-light: #FFDDAF;
  --md-sys-color-on-tertiary-container-light: #281800;
  --md-sys-color-tertiary-fixed-light: #FFDDAF;
  --md-sys-color-on-tertiary-fixed-light: #281800;
  --md-sys-color-tertiary-fixed-dim-light: #E5C18D;
  --md-sys-color-on-tertiary-fixed-variant-light: #5B421A;
  --md-sys-color-error-light: #BA1A1A;
  --md-sys-color-on-error-light: #FFFFFF;
  --md-sys-color-error-container-light: #FFDAD6;
  --md-sys-color-on-error-container-light: #410002;
  --md-sys-color-outline-light: #857373;
  --md-sys-color-background-light: #FFFBFF;
  --md-sys-color-on-background-light: #201A1A;
  --md-sys-color-surface-light: #FFF8F7;
  --md-sys-color-on-surface-light: #201A1A;
  --md-sys-color-surface-variant-light: #F4DDDD;
  --md-sys-color-on-surface-variant-light: #524343;
  --md-sys-color-inverse-surface-light: #362F2F;
  --md-sys-color-inverse-on-surface-light: #FBEEED;
  --md-sys-color-inverse-primary-light: #FFB3B3;
  --md-sys-color-shadow-light: #000000;
  --md-sys-color-surface-tint-light: #9C4146;
  --md-sys-color-outline-variant-light: #D7C1C1;
  --md-sys-color-scrim-light: #000000;
  --md-sys-color-surface-container-highest-light: #ECE0DF;
  --md-sys-color-surface-container-high-light: #F2E5E4;
  --md-sys-color-surface-container-light: #F8EBEA;
  --md-sys-color-surface-container-low-light: #FEF1F0;
  --md-sys-color-surface-container-lowest-light: #FFFFFF;
  --md-sys-color-surface-bright-light: #FFF8F7;
  --md-sys-color-surface-dim-light: #E4D7D6;
  /* dark */
  --md-sys-color-primary-dark: #FFB3B3;
  --md-sys-color-on-primary-dark: #5F131C;
  --md-sys-color-primary-container-dark: #7E2A30;
  --md-sys-color-on-primary-container-dark: #FFDAD9;
  --md-sys-color-primary-fixed-dark: #FFDAD9;
  --md-sys-color-on-primary-fixed-dark: #40000A;
  --md-sys-color-primary-fixed-dim-dark: #FFB3B3;
  --md-sys-color-on-primary-fixed-variant-dark: #7E2A30;
  --md-sys-color-secondary-dark: #E6BDBC;
  --md-sys-color-on-secondary-dark: #44292A;
  --md-sys-color-secondary-container-dark: #5D3F3F;
  --md-sys-color-on-secondary-container-dark: #FFDAD9;
  --md-sys-color-secondary-fixed-dark: #FFDAD9;
  --md-sys-color-on-secondary-fixed-dark: #2C1516;
  --md-sys-color-secondary-fixed-dim-dark: #E6BDBC;
  --md-sys-color-on-secondary-fixed-variant-dark: #5D3F3F;
  --md-sys-color-tertiary-dark: #E5C18D;
  --md-sys-color-on-tertiary-dark: #422C05;
  --md-sys-color-tertiary-container-dark: #5B421A;
  --md-sys-color-on-tertiary-container-dark: #FFDDAF;
  --md-sys-color-tertiary-fixed-dark: #FFDDAF;
  --md-sys-color-on-tertiary-fixed-dark: #281800;
  --md-sys-color-tertiary-fixed-dim-dark: #E5C18D;
  --md-sys-color-on-tertiary-fixed-variant-dark: #5B421A;
  --md-sys-color-error-dark: #FFB4AB;
  --md-sys-color-on-error-dark: #690005;
  --md-sys-color-error-container-dark: #93000A;
  --md-sys-color-on-error-container-dark: #FFDAD6;
  --md-sys-color-outline-dark: #A08C8C;
  --md-sys-color-background-dark: #201A1A;
  --md-sys-color-on-background-dark: #ECE0DF;
  --md-sys-color-surface-dark: #181212;
  --md-sys-color-on-surface-dark: #D0C4C3;
  --md-sys-color-surface-variant-dark: #524343;
  --md-sys-color-on-surface-variant-dark: #D7C1C1;
  --md-sys-color-inverse-surface-dark: #ECE0DF;
  --md-sys-color-inverse-on-surface-dark: #201A1A;
  --md-sys-color-inverse-primary-dark: #9C4146;
  --md-sys-color-shadow-dark: #000000;
  --md-sys-color-surface-tint-dark: #FFB3B3;
  --md-sys-color-outline-variant-dark: #524343;
  --md-sys-color-scrim-dark: #000000;
  --md-sys-color-surface-container-highest-dark: #3A3333;
  --md-sys-color-surface-container-high-dark: #2F2828;
  --md-sys-color-surface-container-dark: #241E1E;
  --md-sys-color-surface-container-low-dark: #201A1A;
  --md-sys-color-surface-container-lowest-dark: #120D0D;
  --md-sys-color-surface-bright-dark: #3F3737;
  --md-sys-color-surface-dim-dark: #181212;
  /* display - large */
  --md-sys-typescale-display-large-font-family-name: "Playfair display";
  --md-sys-typescale-display-large-font-family-style: Regular;
  --md-sys-typescale-display-large-font-weight: 400px;
  --md-sys-typescale-display-large-font-size: 57px;
  --md-sys-typescale-display-large-line-height: 86px;
  --md-sys-typescale-display-large-letter-spacing: -0.25px;
  /* display - medium */
  --md-sys-typescale-display-medium-font-family-name: "Playfair display";
  --md-sys-typescale-display-medium-font-family-style: Regular;
  --md-sys-typescale-display-medium-font-weight: 400px;
  --md-sys-typescale-display-medium-font-size: 45px;
  --md-sys-typescale-display-medium-line-height: 68px;
  --md-sys-typescale-display-medium-letter-spacing: 0px;
  /* display - small */
  --md-sys-typescale-display-small-font-family-name: "Playfair display";
  --md-sys-typescale-display-small-font-family-style: Regular;
  --md-sys-typescale-display-small-font-weight: 400px;
  --md-sys-typescale-display-small-font-size: 36px;
  --md-sys-typescale-display-small-line-height: 54px;
  --md-sys-typescale-display-small-letter-spacing: 0px;
  /* headline - large */
  --md-sys-typescale-headline-large-font-family-name: Roboto;
  --md-sys-typescale-headline-large-font-family-style: Regular;
  --md-sys-typescale-headline-large-font-weight: 400px;
  --md-sys-typescale-headline-large-font-size: 32px;
  --md-sys-typescale-headline-large-line-height: 40px;
  --md-sys-typescale-headline-large-letter-spacing: 0px;
  /* headline - medium */
  --md-sys-typescale-headline-medium-font-family-name: Roboto;
  --md-sys-typescale-headline-medium-font-family-style: Regular;
  --md-sys-typescale-headline-medium-font-weight: 400px;
  --md-sys-typescale-headline-medium-font-size: 28px;
  --md-sys-typescale-headline-medium-line-height: 36px;
  --md-sys-typescale-headline-medium-letter-spacing: 0px;
  /* headline - small */
  --md-sys-typescale-headline-small-font-family-name: Roboto;
  --md-sys-typescale-headline-small-font-family-style: Regular;
  --md-sys-typescale-headline-small-font-weight: 400px;
  --md-sys-typescale-headline-small-font-size: 24px;
  --md-sys-typescale-headline-small-line-height: 32px;
  --md-sys-typescale-headline-small-letter-spacing: 0px;
  /* body - large */
  --md-sys-typescale-body-large-font-family-name: Roboto;
  --md-sys-typescale-body-large-font-family-style: Regular;
  --md-sys-typescale-body-large-font-weight: 400px;
  --md-sys-typescale-body-large-font-size: 16px;
  --md-sys-typescale-body-large-line-height: 24px;
  --md-sys-typescale-body-large-letter-spacing: 0.50px;
  /* body - medium */
  --md-sys-typescale-body-medium-font-family-name: Roboto;
  --md-sys-typescale-body-medium-font-family-style: Regular;
  --md-sys-typescale-body-medium-font-weight: 400px;
  --md-sys-typescale-body-medium-font-size: 14px;
  --md-sys-typescale-body-medium-line-height: 20px;
  --md-sys-typescale-body-medium-letter-spacing: 0.25px;
  /* body - small */
  --md-sys-typescale-body-small-font-family-name: Roboto;
  --md-sys-typescale-body-small-font-family-style: Regular;
  --md-sys-typescale-body-small-font-weight: 400px;
  --md-sys-typescale-body-small-font-size: 12px;
  --md-sys-typescale-body-small-line-height: 16px;
  --md-sys-typescale-body-small-letter-spacing: 0.40px;
  /* label - large */
  --md-sys-typescale-label-large-font-family-name: Roboto;
  --md-sys-typescale-label-large-font-family-style: Medium;
  --md-sys-typescale-label-large-font-weight: 500px;
  --md-sys-typescale-label-large-font-size: 14px;
  --md-sys-typescale-label-large-line-height: 20px;
  --md-sys-typescale-label-large-letter-spacing: 0.10px;
  /* label - medium */
  --md-sys-typescale-label-medium-font-family-name: Roboto;
  --md-sys-typescale-label-medium-font-family-style: Medium;
  --md-sys-typescale-label-medium-font-weight: 500px;
  --md-sys-typescale-label-medium-font-size: 12px;
  --md-sys-typescale-label-medium-line-height: 16px;
  --md-sys-typescale-label-medium-letter-spacing: 0.50px;
  /* label - small */
  --md-sys-typescale-label-small-font-family-name: Roboto;
  --md-sys-typescale-label-small-font-family-style: Medium;
  --md-sys-typescale-label-small-font-weight: 500px;
  --md-sys-typescale-label-small-font-size: 11px;
  --md-sys-typescale-label-small-line-height: 16px;
  --md-sys-typescale-label-small-letter-spacing: 0.50px;
  /* title - large */
  --md-sys-typescale-title-large-font-family-name: Roboto;
  --md-sys-typescale-title-large-font-family-style: Regular;
  --md-sys-typescale-title-large-font-weight: 400px;
  --md-sys-typescale-title-large-font-size: 22px;
  --md-sys-typescale-title-large-line-height: 28px;
  --md-sys-typescale-title-large-letter-spacing: 0px;
  /* title - medium */
  --md-sys-typescale-title-medium-font-family-name: Roboto;
  --md-sys-typescale-title-medium-font-family-style: Medium;
  --md-sys-typescale-title-medium-font-weight: 500px;
  --md-sys-typescale-title-medium-font-size: 16px;
  --md-sys-typescale-title-medium-line-height: 24px;
  --md-sys-typescale-title-medium-letter-spacing: 0.15px;
  /* title - small */
  --md-sys-typescale-title-small-font-family-name: Roboto;
  --md-sys-typescale-title-small-font-family-style: Medium;
  --md-sys-typescale-title-small-font-weight: 500px;
  --md-sys-typescale-title-small-font-size: 14px;
  --md-sys-typescale-title-small-line-height: 20px;
  --md-sys-typescale-title-small-letter-spacing: 0.10px;
}
