/* general css */

* {
  margin: 0;
  padding: 0;
  transition: 300ms;
  box-sizing: border-box;
  transition: 300ms;
}

.mt-8 {
  margin-top: 8px;
}

.mt-12 {
  margin-top: 12px;
}

.mt-16 {
  margin-top: 16px;
}

/* support for row and col */

.row {
  display: flex;
  margin: 0 -6px;
}

.col {
  display: inline-flex;
  margin: 0 6px;
}

.col-1 {
  width: calc(100%/12 - 12px);
}

.col-2 {
  width: calc(100%/12*2 - 12px);
}

.col-3 {
  width: calc(100%/12 * 3 - 12px);
}

.col-4 {
  width: calc(100%/12 * 4 - 12px);
}

.col-5 {
  width: calc(100%/12 * 5 - 12px);
}

.col-6 {
  width: calc(100%/12 * 6 - 12px);
}

.col-7 {
  width: calc(100%/12 * 7 - 12px);
}

.col-8 {
  width: calc(100%/12 * 8 - 12px);
}

.col-9 {
  width: calc(100%/12 * 9 - 12px);
}

.col-10 {
  width: calc(100%/12 * 10 - 12px);
}

.col-11 {
  width: calc(100%/12 * 11 - 12px);
}

.col-12 {
  width: calc(100%/12 * 12 - 12px);
}

/* general name tag */
header>* {
  padding: 16px 0 0 0;
  display: flex;
  gap: 24px;
  flex-direction: column;
}

main {
  min-height: 612px;
  padding: 12px 32px;
}

/* general class */

.container {
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
}

.visible {
  background: white;
  border-radius: 12px;

  & .unradiused {
    border-radius: 0;
  }
}

.header__top {
  display: flex;
  align-items: center;
  height: 40px;
}

.main-nav>ul {
  height: 40px;
  padding: 0px;
  display: flex;
}

.main-nav__item {
  /* display: inline-block; */
  display: inline-flex;
  height: 100%;
  min-width: 128px;
  padding: 0 24px;
  list-style: none;
  color: var(--md-sys-color-primary);

  &:hover {
    cursor: pointer;
    background: rgba(0, 0, 0, 0.2);
  }

  &.active {
    color: white;
    background-color: var(--md-sys-color-primary);
  }
}

.main-nav__link {
  margin: auto;
  text-decoration: none;
  font-weight: bold;
  color: inherit;
}

.nav-tree>* {
  height: 40px;
  display: flex;
  align-items: center;
}

.nav-tree__item {
  display: inline-flex;
  height: 100%;
  min-width: 128px;
  padding: 0 24px;
  list-style: none;
}

.nav-tree__link {
  margin: auto;
  text-decoration: none;
  font-weight: bold;
}

.icon {
  width: 24px;
  height: 24px;
}