@import url(https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0..1,0);
@import url(/TAA_FE/res/css/theme.css);
@import url(/TAA_FE/res/css/component.css);

/* general css */
:root {
  font-size: 12px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 300ms;
}

.mt-8 {
  margin-top: 8px;
}

.mt-12 {
  margin-top: 12px;
}

.mt-16 {
  margin-top: 16px;
}

.mt-24 {
  margin-top: 24px;
}

.mt-32 {
  margin-top: 32px;
}

.mt-36 {
  margin-top: 32px;
}

.mt-48 {
  margin-top: 48px;
}

.mt-64 {
  margin-top: 64px;
}

/* support for row and col */
.row {
  width: 100%;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  /* margin: 0 -6px; */
}

.col-1 {
  width: calc((100% + 1rem) / 12 - 1rem);
}

.col-2 {
  width: calc((100% + 1rem) / 12 * 2 - 1rem);
}

.col-3 {
  width: calc((100% + 1rem) / 12 * 3 - 1rem);
}

.col-4 {
  width: calc((100% + 1rem) / 12 * 4 - 1rem);
}

.col-5 {
  width: calc((100% + 1rem) / 12 * 5 - 1rem);
}

.col-6 {
  width: calc((100% + 1rem) / 12 * 6 - 1rem);
}

.col-7 {
  width: calc((100% + 1rem) / 12 * 7 - 1rem);
}

.col-8 {
  width: calc((100% + 1rem) / 12 * 8 - 1rem);
}

.col-9 {
  width: calc((100% + 1rem) / 12 * 9 - 1rem);
}

.col-10 {
  width: calc((100% + 1rem) / 12 * 10 - 1rem);
}

.col-11 {
  width: calc((100% + 1rem) / 12 * 11 - 1rem);
}

.col-12 {
  width: calc((100% + 1rem) / 12 * 12 - 1rem);
}

/* general name tag */
a:is(:link, :hover, :visited, :active) {
  text-decoration: underline;
  color: var(--md-sys-color-primary);
}

a:is(:hover, :active) {
  cursor: pointer;
}

a:active {
  filter: drop-shadow(0 0 0.75rem var(--md-sys-color-primary));
}

hr {
  border: 1px solid var(--md-sys-color-outline-variant-light);
}

body {
  min-width: 896px;
}

header {
  display: flex;
  gap: 24px;
  flex-direction: column;

  padding: 0 32px;

  & .header__top {
    padding-top: 16px;

    &>* {
      display: flex;
      position: relative;

      max-height: 40px;
      justify-content: space-between;
    }
  }

  & .header__search {
    max-width: 512px;
    width: 100%;
    margin: 0 16px;
  }

  & .header__wrapper {
    display: flex;
    justify-content: end;
    gap: 8px;

    & .header__avatar {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      border: 1px solid var(--md-sys-color-outline);
    }
  }

  & .main-nav>ul {
    height: 40px;
    padding: 0px;
    display: flex;
  }

  & .main-nav__item {
    display: inline-block;
    display: inline-flex;
    height: 100%;
    min-width: 128px;
    list-style: none;
    color: var(--md-sys-color-primary);

    &:hover {
      cursor: pointer;
      background: rgba(0, 0, 0, 0.2);
    }

    &.active {
      color: white;
      background-color: var(--md-sys-color-primary);
    }
  }

  & .main-nav__link {
    padding: 0px 24px;
    margin: auto;
    text-decoration: none;
    font-weight: bold;
    color: inherit;
  }
}

main {
  min-height: 612px;

  &>section {
    padding: 0 32px;

    &.full-width {
      padding: 0;
    }
  }
}

footer {
  padding: 32px;
  padding-bottom: 64px;

  & .footer__col {
    flex-direction: column;
    gap: 8px;
  }

  & .footer__title {
    font-weight: bold;

    & img {
      height: 64px;
    }
  }

  & .footer__content {
    >p {
      text-align: justify;
    }
  }
/* 
  & .footer__link {
    text-decoration: none;
  } */
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
}

input {
  height: 40px;
  border-radius: 8px;
  border: 1px solid var(--md-sys-color-outline);
  padding: 0 12px;
  background-color: transparent;
}

/* general class */

.container {
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
}

.visible {
  background: white;
  border-radius: 12px;

  &.un-radius {
    border-radius: 0px;
  }
}

.header__user {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  flex-direction: column;

  width: 180px;

  border-radius: 12px;
  overflow: hidden;

  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);

  & a {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: right;
    padding: 24px;
    width: 100%;
    background-color: white;
    color: black;
    font-weight: bold;

    text-decoration: none;

    &:active {
      filter: none;
    }

    &:last-child {
      background-color: var(--md-sys-color-primary);
      color: var(--md-sys-color-on-primary);
    }
  }
}

.header__user--controller__label {
  display: inline-flex;
  gap: 8px;

  &>* {
    margin: auto;
  }
}

#header__user--controller {
  display: none;
}

#header__user--controller:checked+.header__user {
  display: flex;
}

.nav-tree {
  padding: 0 32px;

  &>* {
    display: flex;
    align-items: center;
    height: 48px;
    padding: 0 12px;
    gap: 8px;
  }
}

.nav-tree__item {
  display: inline-flex;
  align-items: center;
  height: 100%;
  list-style: none;
  gap: 8px;

  &::after {
    content: '>';
    display: inline-block;
  }

  &:last-child::after {
    content: '';
  }

  &:last-child {
    font-weight: bold;
  }

  & a {
    margin: auto;
    text-decoration: none;
  }
}

.email-submition {
  display: flex;
  flex-direction: row;

  & input {
    width: calc(100% - 106px - 8px);
    margin-right: 8px;
  }
}

/* CSS cho pop-up modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  inset: 0;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  
  &.active {
    display: block;
  }
}

.modal__content {
  animation: modalFadeIn ease 0.5s;

  position: relative;
  margin: 150px auto;
  padding: 48px 64px;
  border: 1px solid #888;
  width: calc(1024px / 2 + 12px * 4);

  border-radius: 12px;
}

.modal__title {
  font-weight: bold;
  text-align: center;
}

.modal__btn--close {
  position: absolute;
  top: 12px;
  right: 12px;
  color: #aaa;
  font-size: 24px;
  line-height: 24px;
  font-weight: bold;
  text-align: center;

  &:is(:hover, :focus) {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
}

.form__row {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 40px;

  & label {
    display: flex;
    justify-content: end;
    align-items: center;
  }
}