<footer class="visible un-radius mt-12">
  <div class="container">
    <div class="row">
      <div class="footer__col col-lg-5 col-12">
        <div class="footer__title">
          <a href="/">
            <img src="/logos/logo.svg" alt="Logo TAA with Text">
          </a>
        </div>
        <div class="footer__content body-medium">
          <p class="mt-8">TAA là một nền tảng thương mại điện tử chuyên về
            bán đồ phụ kiện trang sức. Với sự tập trung vào việc cung cấp
            những sản phẩm chất lượng cao và thiết kế độc đáo, TAA đã trở
            thành điểm đến lý tưởng cho những người đam mê phụ kiện và trang
            sức.</p>
          <p class="mt-8">Việc mua hàng của bạn là động lực cho chúng tôi
            tiếp tục duy trì được công ty.</p>
          <p class="mt-8">Bạn liên hệ với chúng tôi bằng các mạng xã hội</p>
        </div>
        <div class="footer__link mt-8">
          <a href="https://daa.uit.edu.vn/">
            <img src="/logos/icon_facebook.svg" alt="Icon Facebook">
          </a>
          <a href="https://daa.uit.edu.vn/">
            <img src="/logos/icon_youtube.svg" alt="Icon Youtube">
          </a>
          <a href="https://daa.uit.edu.vn/">
            <img src="/logos/icon_instagram.svg" alt="Icon Instagram">
          </a>
        </div>
      </div>
      <div class="footer__col col-lg-2 col-12">
        <h1 class="footer__title headline-medium">Công ty</h1>
        <div class="footer__content">
          <div class="footer__link mt-8">
            <a class="body-medium" href="/news">Tin
              tức</a>
          </div>
          <div class="footer__link mt-8">
            <a class="body-medium" href="/about">Về
              chúng tôi</a>
          </div>
          <div class="footer__link mt-8">
            <a class="body-medium" href="/manual/order">Hướng dẫn mua hàng</a>
          </div>
          <div class="footer__link mt-8">
            <a class="body-medium" href="/manual/policy">Chính sách</a>
          </div>
        </div>
      </div>
      <div class="footer__col col-lg-5 col-12">
        <h1 class="footer__title headline-medium">Cập nhật về chúng tôi</h1>
        <div class="footer__content body-medium">
          <p class="mt-8">Xác nhận thư điện tử của bạn để nhận được ngay
            những cập nhật mới nhất từ chúng tôi hàng tuần</p>
          <form class="email-submition mt-8 label-large">
            <div class="row">
              <input class='col-8 col-sm-12' label="form--get-news__email" type="email" required>
              <button class="col-4 col-sm-12 btn--filled" type="submit">
                <span class="status-layer">Xác nhận</span>
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</footer>