<header class="visible un-radius">
  <div class="header__top">
    <div class="container">
      <a href="/TAA_FE/src/homepage/">
        <img class="header__logo" src="/TAA_FE/public/logo.svg" alt="Logo TAA">
      </a>
      <span class="header__search search-bar">
        <input class="label-large" type="text" placeholder="Tìm kiếm"
          list="data--search" id="search">
        <datalist id="data--search">
          <option value="Vòng tay"></option>
          <option value="Vòng cổ"></option>
          <option value="Túi"></option>
          <option value="Cài tóc"></option>
          <option value="Nhẫn"></option>
        </datalist>
        <button class="btn-icon btn--filled" type="submit">
          <span class="status-layer icon material-symbols-outlined">
            search</span>
        </button>
      </span>
      <div class="header__wrapper">
        <button class="btn--outlined header__btn--login label-large"
          type="button" onclick="modalCtl.openModal('#modal--login')">
          <span class="status-layer">Đăng nhập</span>
        </button>
        <button class="btn--filled header__btn--register label-large"
          type="button" onclick="modalCtl.openModal('#modal--register')">
          <span class="status-layer">Đăng ký</span>
        </button>
      </div>
    </div>
  </div>
  <nav class="main-nav">
    <ul class="container visible label-large">
      <li class="main-nav__item active">
        <a href="/TAA_FE/src/homepage/" class="main-nav__link">Trang chủ</a>
      </li>
      <li class="main-nav__item">
        <a href="/TAA_FE/src/homepage/products/" class="main-nav__link">Sản
          phẩm</a>
      </li>
      <li class="main-nav__item">
        <a href="/TAA_FE/src/homepage/news/" class="main-nav__link">Tin tức</a>
      </li>
      <li class="main-nav__item">
        <a href="/TAA_FE/src/homepage/about/" class="main-nav__link">Về chúng
          tôi</a>
      </li>
      <li class="main-nav__item">
        <a href="/TAA_FE/src/homepage/user-manual/" class="main-nav__link">Hướng
          dẫn sử dụng</a>
      </li>
    </ul>
  </nav>
</header>