<div id='modal--noti-<%= id %>' class="modal modal-noti">
    <div class="modal-container--noti on-primary-text">
      <%#- include('../components/button', {
        type: 'btn-icon',
        options: '',
        classList: 'modal__btn--close',
        iconData: 'close'
        onclick: "",
      }) %>
      <div class="noti__icon-check">
        <span class="material-symbols-outlined icon--filled">
          check_circle
        </span>
      </div>
      <p class="noti__text headline-large"> 'Thêm địa chỉ thành công' </p>
      <!-- <div class="noti__btn btn--close">
        <span class="material-symbols-outlined">
          close
        </span>
      </div> -->
    </div>
  </div>