<div id="modal--register" class="modal">
  <div class="modal__content on-primary">
    <%- include('../components/button', {
      type: 'btn-icon',
      options: '',
      classList: 'modal__btn--close',
      onclick: 'modalCtl.closeModal()',
      iconData: 'close',
    }) %>
    <h1 class="modal__title headline-large">Đăng ký</h1>
    <form action="/auth/register" method="POST">
      <div class="form__row mt-24">
        <div class="row">
          <label class="col-4 label-large" for="f_reg_name">
            Họ và tên:</label>
          <input class="col-8" type="text" name="fname" id="f_reg_name" required>
        </div>
      </div>
      <div class="form__row mt-12">
        <div class="row">
          <label class="col-4 label-large" for="f_reg_phone">
            Số điện thoại:</label>
          <input class="col-8" type="text" name="phone" id="f_reg_phone" autocomplete='username' required>
        </div>
      </div>
      <div class="form__row mt-12">
        <div class="row">
          <label class="col-4 label-large" for="f_reg_email">
            Email:</label>
          <input class="col-8" type="email" name="email" id="f_reg_email" autocomplete='email' required>
        </div>
      </div>
      <div class="form__row mt-12">
        <div class="row">
          <label class="col-4 label-large" for="f_reg_pass">
            Mật khẩu:</label>
          <input class="col-8" type="password" name="pass" id="f_reg_pass" autocomplete='new-password' required>
        </div>
      </div>
      <div class="form__row mt-12">
        <div class="row">
          <label class="col-4 label-large" for="f_reg_pass_confirm">
            Xác nhận mật khẩu:</label>
          <input class="col-8" type="password" name="confirmPass" autocomplete='new-password' id="f_reg_pass_confirm" required>
        </div>
      </div>
      <div class="form__row mt-12">
        <div class="row__flex">
          <%- include('../components/checkbox', {
            id: 'f_reg_is_read',
            name: 'is_read',
            value: 'true',
            classList: 'primary-text',
          }) %>
          <!-- <span class="btn-icon btn-checkbox primary-text col-1">
            <input type="checkbox" id="f_reg_is_read" name="f_reg_is_read" required>
            <label for="f_reg_is_read">
              <span class="icon material-symbols-outlined">
                check_box_outline_blank</span>
              <span class="icon icon--filled material-symbols-outlined --checked">
                check_box</span>
            </label> -->
          </span>
          <span class="label body-medium">Tôi đã đọc và đồng ý với Điều kiện giao dịch
            chung và Chính sách bảo mật thông tin của TAA</span>
        </div>
      </div>
      <%- include('../components/button', {
        type: '',
        options: 'btn--filled full-width mt-12',
        classList: 'modal__btn--submit mt-12',
        label: 'Đăng ký',
        onclick: 'submit',
      }) %>
    </form>
    <div class="form__row mt-12">
      <%- include('../components/button', { 
        type: '',
        options: 'full-width',
        classList: 'mt-12',
        label: `Bạn có tài khoản rồi? <span class='highlight'>Đăng nhập ngay</span>`,
        onclick: 'modalCtl.nextModal(\'#modal--login\')',
      }) %>
    </div>
  </div>
</div>