<div id="modal--login" class="modal">
  <div class="modal__content on-primary">
    <%- include('../components/button', {
      type: 'btn-icon',
      options: '',
      classList: 'modal__btn--close',
      onclick: 'modalCtl.closeModal()',
      iconData: 'close',
    }) %>
    <!-- <button class="modal__btn--close btn-icon" onclick="modalCtl.closeModal()">
      <span class="status-layer icon material-symbols-outlined">close</span>
    </button> -->
    <h1 class="modal__title headline-large">Đăng nhập</h1>
    <form>
      <div class="form__row mt-24">
        <div class="row">
          <label class="col-4 label-large" for="f_log_phone">
            Số điện thoại:</label>
          <input class="col-8" type="text" name="phone" id="f_log_phone"
            autocomplete='username' required>
        </div>
      </div>
      <div class="form__row mt-12">
        <div class="row">
          <label class="col-4 label-large" for="f_log_pass">
            Mật khẩu:</label>
          <input class="col-8" type="password" name="pass" id="f_log_pass"
            autocomplete='current-password' required>
        </div>
      </div>
    </form>
    <%- include('../components/button', {
      type: '',
      options: 'btn--filled full-width',
      classList: 'modal__btn--submit mt-12',
      label: 'Đăng nhập',
      onclick: 'authCtl.login()',
    }) %>
    <div class="row mt-36">
      <%- include('../components/button', {
        type: '',
        options: 'btn--outlined col-6 col-sm-12',
        classList: '',
        label: 'Quên mật khẩu',
        onclick: 'modalCtl.nextModal(\'#modal--forgot-method\')',
      }) %>
      <%- include('../components/button', {
        type: '',
        options: 'btn--outlined col-6 col-sm-12',
        classList: '',
        label: 'Cần đăng ký',
        onclick: 'modalCtl.nextModal(\'#modal--register\')',
      }) %>
    </div>
  </div>
</div>