<div id="modal--forgot-by-email" class="modal">
  <div class="modal__content on-primary not-min-height">
    <%- include('../components/button', {
      type: 'btn-icon',
      options: '',
      classList: 'modal__btn--back',
      onclick: 'modalCtl.nextModal(\'#modal--forgot-method\')',
      iconData: 'arrow_back',
    }) %>
    <%- include('../components/button', {
      type: 'btn-icon',
      options: '',
      classList: 'modal__btn--close',
      onclick: 'modalCtl.closeModal()',
      iconData: 'close',
    }) %>
    <h1 class="modal__title headline-large">Quên mật khẩu</h1>
    <form action="/forgotEmail" method="POST">
      <div class="form__row mt-24">
        <div class="row">
          <label class="col-4 label-large" for="f_forgot_email">
            Email:</label>
          <input class="col-8" type="text" name="phone" id="f_forgot_email" required>
        </div>
      </div>
      <%- include('../components/button', {
        type: '',
        options: 'btn--filled full-width',
        classList: 'mt-12',
        label: 'Gửi yêu cầu đổi mật khẩu',
        onclick: '',
      }) %>
    </form>
  </div>
</div>