<div id="modal--register" class="modal">
  <div class="modal__content on-primary">
    <%- include('../components/button', {
      type: 'btn-icon',
      options: '',
      classList: 'modal__btn--close',
      onclick: 'modalCtl.closeModal()',
      iconData: 'close',
    }) %>
    <h1 class="modal__title headline-large">Đăng ký</h1>
    <form>
      <div class="form__row mt-24">
        <div class="row">
          <label class="col-4 label-large" for="f_reg_name">
            Họ và tên:</label>
          <input class="col-8" type="text" name="name" id="f_reg_name" required>
        </div>
      </div>
      <div class="form__row mt-12">
        <div class="row">
          <label class="col-4 label-large" for="f_reg_phone">
            Số điện thoại:</label>
          <input class="col-8" type="text" name="phone" id="f_reg_phone" required>
        </div>
      </div>
      <div class="form__row mt-12">
        <div class="row">
          <label class="col-4 label-large" for="f_reg_email">
            Email:</label>
          <input class="col-8" type="email" name="email" id="f_reg_email" required>
        </div>
      </div>
      <div class="form__row mt-12">
        <div class="row">
          <label class="col-4 label-large" for="f_reg_pass">
            Mật khẩu:</label>
          <input class="col-8" type="password" name="pass" id="f_reg_pass" required>
        </div>
      </div>
      <div class="form__row mt-12">
        <div class="row">
          <label class="col-4 label-large" for="f_reg_pass_confirm">
            Xác nhận mật khẩu:</label>
          <input class="col-8" type="password" name="passConfirm" id="f_reg_pass_confirm" required>
        </div>
      </div>
      <div class="form__row mt-12">
        <div class="row__flex">
          <%- include('../components/checkbox', {
            id: 'f_reg_is_read',
            name: 'is_read',
            value: 'true',
            classList: 'primary-text',
          }) %>
          </span>
          <label for='f_reg_is_read' class="label term-of-use body-medium">Tôi
            đã đọc và đồng ý với <a href="/manual/order"> Điều kiện giao dịch
              chung</a> và <a href="/manual/policy">Chính sách bảo mật thông
              tin</a> của TAA</label>
        </div>
      </div>
      <%- include('../components/button', {
        type: '',
        options: 'btn--filled',
        classList: 'modal__btn--submit full-width mt-12',
        label: 'Đăng ký',
        onclick: 'authCtl.register()',
      }) %>
    </form>
    <div class="form__row mt-12">
      <%- include('../components/button', { 
        type: '',
        options: 'full-width',
        classList: 'mt-12',
        label: `Bạn có tài khoản rồi? <span class='highlight'>Đăng nhập ngay</span>`,
        onclick: 'modalCtl.nextModal(\'#modal--login\')',
      }) %>
    </div>
  </div>
</div>