<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="author" content="IE104.O12_Group3">
  <meta name="description" content="Trang web TAA là một nền tảng thương mại
    điện tử chuyên về bán đồ phụ kiện trang sức. Với sự tập trung vào việc
    cung cấp những sản phẩm chất lượng cao và thiết kế độc đáo, TAA đã trở
    thành điểm đến lý tưởng cho những người đam mê phụ kiện và trang sức.">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/base.css">
  <title>TAA</title>
</head>

<body>
  <div id="main" class="on-primary">
    <div id="header"></div>
    <div id="breadcrumbs"></div>

    <main>
      <section class="slider mt-12"></section>


      <section class="mt-12">
        <div class="container">
          <h1 class="section__title display-medium">Hướng dẫn mua hàng</h1>
          <div class="section__content"></div>
        </div>
      </section>


      <section class="mt-12">
        <div class="container">
          <div class="row">
            <aside class="col-3 visible"></aside>
            <section class="col-9 visible">
              <div class="row" id="product__list"></div>
              <div class="mt-12" id="nav-page"></div>
              <div class="mt-12"></div>
            </section>
          </div>
        </div>
      </section>
    </main>

    <!-- <footer></footer> -->
    <div id="footer"></div>

    <!-- Modal -->
    <div id="modal"></div>
    <div id="modal__resetPassword-1"></div>
    
  </div>
  <script>
    $(() => {
      $('#header').load('/partials/header--unauth.html');
      $('#breadcrumbs').load('/partials/breadcrumbs.html');
      $('#footer').load('/partials/footer.html');
      $('#nav-page').load('/components/nav-page.html');
      $("#modal__resetPassword-1").load("/partials/resetPassword-1.html");

      fetch('/components/product__item.html')
        .then(res => res.text())
        .then(res => {
          for (let i = 0; i < 9; ++i)
            $('#product__list').append(res)
        })
    });
  </script>
  <script src="/scripts/main.js"></script>
</body>
</html>