body {
  text-align: justify;
}

h1.section__title {
  text-align: center;
  font-weight: bold;

  margin-bottom: 12px;
}

h2.section__title {
  margin-top: 12px;

  text-align: left;

  counter-increment: h2-counter;

  &::before {
    content: "Bước " counter(h2-counter) ": ";
  }
}

h3.section__title {
  margin-top: 8px;

  counter-increment: h3-counter;

  &::before {
    content: counter(h3-counter) ". ";
  }
}

:has(ol, ul) li {
  list-style-position: inside;
}

.button__cart {
  display: flex inline;
  padding: 10px;
  height: 40px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  color: #9C4048;
  border: 1px solid #9C4048;
  background: var(--m-3-ref-primary-primary-95, #FFEDEC);
}

@media only screen and (min-width: calc(576px+1px)) and (max-width: 768px){
.container h1 {
  font-size: 28px;
  line-height: 50px;
}
.section__content h2 {
  font-size: 18px;
  line-height: 30px;
}
  }
  @media only screen and (max-width: 576px) {
    .container h1 {
      font-size: 28px;
      line-height: 40px;
    }
    .section__content h2 {
      font-size: 18px;
      line-height: 30px;
    }
  }